<section>
    <mat-card>
        <mat-tab-group>
            <mat-tab label="View Project">
                <mat-card>
                    <mat-card-header>
                        <mat-card-title>View Creation</mat-card-title>
                    </mat-card-header>
                    <mat-divider></mat-divider>
                    <div class=" table-responsive">
                        <!-- Table Filter -->
                        <mat-form-field class="col-md-3 float-right filter-class">
                            <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
                        </mat-form-field>
                        <!-- Table -->
                        <mat-table [dataSource]="dataSource" matSort>
                            <!-- Update Company Column -->
                            <ng-container matColumnDef="action">
                                <mat-header-cell *matHeaderCellDef mat-sort-header> Actions </mat-header-cell>
                                <mat-cell *matCellDef="let row">
                                    <mat-icon (click)="editConsultant(row)">update</mat-icon>
                                    <mat-icon (click)="viewConsultant(row)">remove_red_eye</mat-icon>
                                    <mat-icon (click)="deleteCon(row)">delete</mat-icon>
                                </mat-cell>
                            </ng-container>
                            <ng-container matColumnDef="projName">
                                <mat-header-cell *matHeaderCellDef mat-sort-header>Project Name </mat-header-cell>
                                <mat-cell *matCellDef="let row"> {{row.projName}} </mat-cell>
                            </ng-container>

                            <ng-container matColumnDef="executaionCode">
                                <mat-header-cell *matHeaderCellDef mat-sort-header>Executaion Code </mat-header-cell>
                                <mat-cell *matCellDef="let row"> {{row.executaionCode}} </mat-cell>
                            </ng-container>

                            <ng-container matColumnDef="projectTypeCode">
                                <mat-header-cell *matHeaderCellDef mat-sort-header>Project Type Code</mat-header-cell>
                                <mat-cell *matCellDef="let row"> {{row.projectTypeCode}} </mat-cell>
                            </ng-container>

                            <ng-container matColumnDef="addressLine1">
                                <mat-header-cell *matHeaderCellDef mat-sort-header>Address Line1 </mat-header-cell>
                                <mat-cell *matCellDef="let row"> {{row.addressLine1}} </mat-cell>
                            </ng-container>

                            <ng-container matColumnDef="addressLine2">
                                <mat-header-cell *matHeaderCellDef mat-sort-header>Address Line2 </mat-header-cell>
                                <mat-cell *matCellDef="let row"> {{row.addressLine2}} </mat-cell>
                            </ng-container>

                            <ng-container matColumnDef="street">
                                <mat-header-cell *matHeaderCellDef mat-sort-header>Street </mat-header-cell>
                                <mat-cell *matCellDef="let row"> {{row.street}} </mat-cell>
                            </ng-container>

                            <ng-container matColumnDef="city">
                                <mat-header-cell *matHeaderCellDef mat-sort-header>City </mat-header-cell>
                                <mat-cell *matCellDef="let row"> {{row.city}} </mat-cell>
                            </ng-container>

                            <ng-container matColumnDef="postalCode">
                                <mat-header-cell *matHeaderCellDef mat-sort-header>Postal Code </mat-header-cell>
                                <mat-cell *matCellDef="let row"> {{row.postalCode}} </mat-cell>
                            </ng-container>


                            <ng-container matColumnDef="projectCost">
                                <mat-header-cell *matHeaderCellDef mat-sort-header>Project Cost </mat-header-cell>
                                <mat-cell *matCellDef="let row"> {{row.projectCost}} </mat-cell>
                            </ng-container>


                            <ng-container matColumnDef="projectEndDate">
                                <mat-header-cell *matHeaderCellDef mat-sort-header>Project End Date</mat-header-cell>
                                <mat-cell *matCellDef="let row"> {{row.projectEndDate}} </mat-cell>
                            </ng-container>


                            <ng-container matColumnDef="createBy">
                                <mat-header-cell *matHeaderCellDef mat-sort-header> Create By </mat-header-cell>
                                <mat-cell *matCellDef="let row"> {{row.createBy}} </mat-cell>
                            </ng-container>


                            <ng-container matColumnDef="createOn">
                                <mat-header-cell *matHeaderCellDef mat-sort-header> Create On</mat-header-cell>
                                <mat-cell *matCellDef="let row"> {{row.createOn | date:'yyyy-MM-dd'}} </mat-cell>
                            </ng-container>

                            <ng-container matColumnDef="updateBy">
                                <mat-header-cell *matHeaderCellDef mat-sort-header> Update By </mat-header-cell>
                                <mat-cell *matCellDef="let row"> {{row.updateBy}} </mat-cell>
                            </ng-container>


                            <ng-container matColumnDef="updateOn">
                                <mat-header-cell *matHeaderCellDef mat-sort-header> Update On</mat-header-cell>
                                <mat-cell *matCellDef="let row"> {{row.updateOn | date:'yyyy-MM-dd'}} </mat-cell>
                            </ng-container>

                            <mat-header-row *matHeaderRowDef="displayProjectColumns"></mat-header-row>
                            <mat-row *matRowDef="let row; columns: displayProjectColumns;">
                            </mat-row>
                        </mat-table>

                        <mat-paginator [pageSizeOptions]="[ 10, 25, 50, 100, 500, 1000]"></mat-paginator>
                    </div>
                </mat-card>
            </mat-tab>
            <mat-tab label="Project Creation">

                <mat-card>
                    <mat-card-header>
                        
                            <mat-card-title *ngIf="isCreate==0">Project Creation</mat-card-title>
                        <mat-card-title *ngIf="isCreate==1">Project Update</mat-card-title>
                    </mat-card-header>
                    <mat-divider></mat-divider>
                    <mat-card-content>
                        <!-- Project Creation Form Group -->
                        <form *ngIf="createProject" [formGroup]="createProject" (ngSubmit)="addProject()" novalidate>
                            <div class="row">



                                <ng-select class="col-md-3 form-group " formControlName="cmpCode"
                                    (change)="getPlant($event);" placeholder="Company">
                                    <ng-option *ngFor="let item of CompanyList" [value]="item.cmpCode">
                                        {{item.cmpCode}} {{item.cmpName}}
                                    </ng-option>
                                </ng-select>

                                <ng-select class="col-md-3 form-group " formControlName="plantCode" placeholder="Plant">
                                    <ng-option *ngFor="let item of PlantList" [value]="item.plantCode">
                                        {{item.plantCode}} {{item.plantName}}
                                    </ng-option>
                                </ng-select>

                                <ng-select class="col-md-3 form-group " formControlName="executaionCode"
                                    placeholder="Executaion Code">
                                    <ng-option *ngFor="let item of ExecutaionList" [value]="item.executaionCode">
                                        {{item.executaionCode}}
                                    </ng-option>
                                </ng-select>

                                <ng-select class="col-md-3 form-group " formControlName="projectTypeCode"
                                    placeholder="Project Type Code">
                                    <ng-option *ngFor="let item of projectTypeList" [value]="item.projectTypeCode">
                                        {{item.projectTypeCode}} {{item.projectTypeName}}
                                    </ng-option>
                                </ng-select>


                                <mat-form-field class="col-md-3 form-group">
                                    <input type="text" matInput placeholder="Project Name" formControlName="projName"
                                        id="projName" />
                                    <mat-error *ngIf="myError('projName', 'required')">Project Name is
                                        required</mat-error>
                                    <mat-error *ngIf="myError('projName', 'pattern')">>Please provide a valid Project
                                        Name</mat-error>
                                    <mat-error></mat-error>
                                </mat-form-field>

                                <mat-form-field class="col-md-3 form-group">
                                    <input type="text" matInput placeholder="Project Description"
                                        formControlName="projDesc" id="projDesc" />
                                    <mat-error *ngIf="myError('projDesc', 'required')">Project Description is
                                        required</mat-error>
                                    <mat-error *ngIf="myError('projDesc', 'pattern')">>Please provide a valid Project
                                        Description</mat-error>

                                </mat-form-field>

                                <ng-select class="col-md-3 form-group " formControlName="countryCode"
                                    (change)="getState($event);" placeholder="Country">
                                    <ng-option *ngFor="let item of CountryList" [value]="item.countryCode">
                                        {{item.countryCode}} {{item.countryName}}
                                    </ng-option>
                                </ng-select>

                                <ng-select class="col-md-3 form-group " formControlName="stateCode" placeholder="State">
                                    <ng-option *ngFor="let item of StateList" [value]="item.stateCode">
                                        {{item.stateCode}} {{item.stateName}}
                                    </ng-option>
                                </ng-select>

                                <mat-form-field class="col-md-3 form-group">
                                    <input type="text" matInput placeholder="City" formControlName="city" id="city" />
                                    <mat-error *ngIf="myError('city', 'required')">City is required</mat-error>
                                    <mat-error *ngIf="myError('city', 'pattern')">Please provide a valid
                                        City</mat-error>
                                    <mat-error></mat-error>
                                </mat-form-field>

                                <mat-form-field class="col-md-3 form-group">
                                    <input type="text" matInput placeholder="Street" formControlName="street"
                                        id="street" />
                                    <mat-error *ngIf="myError('street', 'required')">Street is required</mat-error>
                                    <mat-error *ngIf="myError('street', 'pattern')">Please provide a valid
                                        Street</mat-error>
                                </mat-form-field>

                                <mat-form-field class="col-md-3 form-group">
                                    <input type="text" matInput placeholder="Address Line 1"
                                        formControlName="addressLine1" id="addressLine1" />
                                    <mat-error *ngIf="myError('addressLine1', 'required')">AddressLine1 is
                                        required</mat-error>
                                    <mat-error *ngIf="myError('addressLine1', 'pattern')">Please provide a valid
                                        AddressLine1</mat-error>
                                </mat-form-field>

                                <mat-form-field class="col-md-3 form-group">
                                    <input type="text" matInput placeholder="Address Line 2"
                                        formControlName="addressLine2" id="addressLine2" />
                                    <mat-error *ngIf="myError('addressLine2', 'required')">AddressLine 2 is
                                        required</mat-error>
                                    <mat-error *ngIf="myError('addressLine2', 'pattern')">Please provide a valid
                                        AddressLine
                                        2</mat-error>
                                </mat-form-field>

                                <mat-form-field class="col-md-3 form-group">
                                    <input type="text" matInput placeholder="Postal Code" formControlName="postalCode"
                                        id="postalCode" />
                                    <mat-error *ngIf="myError('postalCode', 'required')">Postal Code is
                                        required</mat-error>
                                    <mat-error *ngIf="myError('postalCode', 'pattern')">Please provide a valid Postal
                                        Code</mat-error>
                                </mat-form-field>

                                <mat-form-field class="col-md-3 form-group">
                                    <input type="text" matInput placeholder=" Project Cost"
                                        formControlName="projectCost" id="projectCost" />
                                    <mat-error *ngIf="myError('projectCost', 'required')">Project Cost is
                                        required</mat-error>
                                    <mat-error *ngIf="myError('projectCost', 'pattern')">Please provide a valid Project
                                        Cost</mat-error>
                                </mat-form-field>

                                <mat-form-field class="col-md-3" style="font-size: 15px;">
                                    <mat-label>End Date</mat-label>
                                    <input formControlName="projectEndDate" required matInput [matDatepicker]="picker"
                                        id="projectEndDate" readonly>
                                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                    <mat-datepicker #picker></mat-datepicker>
                                    <mat-error *ngIf="myError('projectEndDate', 'required')">End Date is
                                        required</mat-error>
                                    <mat-error *ngIf="myError('projectEndDate', 'pattern')">Please provide a valid End
                                        Date</mat-error>
                                </mat-form-field>
                            </div>
                            <!-- ******** -->

                            <mat-expansion-panel class="mb-3">
                                <mat-expansion-panel-header>
                                    <mat-panel-title class="row">
                                        <div class="col-md-11">
                                            Client Details
                                        </div>
                                    </mat-panel-title>
                                </mat-expansion-panel-header>
                                <mat-divider></mat-divider>

                                <div class="row">

                                    <ng-select class="col-md-3 form-group " formControlName="clientCode"
                                        placeholder="Client Name">
                                        <ng-option *ngFor="let item of clientCodeList" [value]="item.clientCode">
                                            {{item.clientCode}}
                                        </ng-option>
                                    </ng-select>

                                    <div class="col-md-6" style="margin-top: 1%;margin-left: 5%;">
                                        <button type="button" class="mat-button-gradient-green" mat-button
                                            (click)="openDialog()">Add Client
                                        </button>
                                    </div>
                                </div>

                                <mat-expansion-panel>
                                    <mat-expansion-panel-header>
                                        <mat-panel-title class="row">
                                            <div class="col-md-11">
                                                Contact Person Details
                                            </div>

                                        </mat-panel-title>
                                    </mat-expansion-panel-header>
                                    <mat-divider></mat-divider>
                                    <!-- Client Contact Person Details Array -->
                                    <div formArrayName="clientContactDetailArray">
                                        <div *ngFor="let CLI of client()['controls'];  let i = index">
                                            <div [formGroupName]="i">


                                                <div class="row">
                                                    <mat-form-field class="col-md-3 form-group">
                                                        <mat-label>Contact Person Role</mat-label>
                                                        <mat-select type="text" matInput
                                                            placeholder="Contact person role" formControlName="cpRole">
                                                            <mat-option value="Commertial">Commertial</mat-option>
                                                            <mat-option value="Technical">Technical</mat-option>
                                                        </mat-select>
                                                        <mat-error>Contact person role is required</mat-error>
                                                    </mat-form-field>

                                                    <mat-form-field class="col-md-3 form-group">
                                                        <mat-label>Contact Person Name</mat-label>
                                                        <mat-select type="text" matInput
                                                            placeholder="Contact Person Name" formControlName="bpCode">
                                                            <mat-option value="Sapana">Sapana</mat-option>
                                                            <mat-option value="Sachin">Sachin</mat-option>
                                                            <mat-option value="Sahil">Sahil</mat-option>
                                                        </mat-select>
                                                        <mat-error>Contact person name is required</mat-error>
                                                    </mat-form-field>

                                                    <div class="col-md-3"  style="margin-top: 1%">
                                                        <button type="button" class="mat-button-gradient-green" mat-button
                                                             (click)="addContactPerson(i)">Add 
                                                        </button>
                                                    </div>
                                                  
                                                    <div class="col-md-3"style="margin-top: 1%">
                                                        <mat-icon class="mat-icon-delete" *ngIf="i!=0"
                                                            (click)="removeContactPerson(i)">delete_outline</mat-icon>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <button type="button" class="mat-button-gradient-green" mat-button
                                                (click)="openModal()">Add Client
                                            </button>
                                        </div>
                                    </div>
                                </mat-expansion-panel>
                            </mat-expansion-panel>
                            <!-- ********* -->

                            <div class="row">
                                <div class="col-md-12">
                                    <button type="button" class="mat-button-gradient-green" mat-button
                                        (click)="addBlock()">Add
                                        Project Block
                                    </button>
                                </div>
                            </div>
                            <!-- Block Form Aarray -->
                            <mat-accordion class="row">
                                <div formArrayName="blockArray">
                                    <div *ngFor="let block of blocks()['controls'];  let i = index">
                                        <div [formGroupName]="i" class="mb-3">

                                            <mat-expansion-panel>
                                                <mat-expansion-panel-header>
                                                    <mat-panel-title class="row">
                                                        <div class="col-md-11">
                                                            Project Block Details
                                                        </div>
                                                        <div class="col-md-1">
                                                            <mat-icon *ngIf="i!=0" class="mat-icon-delete"
                                                                (click)="removeBlock(i)">delete_outline</mat-icon>
                                                        </div>
                                                    </mat-panel-title>
                                                </mat-expansion-panel-header>
                                                <mat-divider></mat-divider>

                                                <div class="row">
                                                    <mat-form-field class="col-md-6">
                                                        <input type="text" matInput placeholder="Block Name"
                                                            formControlName="blockName" />
                                                        <mat-error *ngIf="myErrorArray('blockName', 'required',i)">Block
                                                            Name is
                                                            required</mat-error>
                                                        <mat-error *ngIf="myErrorArray('blockName', 'pattern',i)">Please
                                                            provide
                                                            a valid block name</mat-error>
                                                    </mat-form-field>

                                                    <mat-form-field class="col-md-6">
                                                        <input type="text" matInput placeholder="Block Description"
                                                            formControlName="desc" />
                                                        <mat-error *ngIf="myErrorArray('desc', 'required',i)">Block
                                                            description is
                                                            required</mat-error>
                                                        <mat-error *ngIf="myErrorArray('desc', 'pattern',i)">Please
                                                            provide a valid description</mat-error>
                                                    </mat-form-field>
                                                </div>
                                                <!-- Building Form Array -->
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <button type="button" class="mat-button-gradient-green"
                                                            mat-button (click)="addBuilding(i)">Add Project Building
                                                        </button>
                                                    </div>
                                                </div>
                                                <!-- Building Form Array -->
                                                <div formArrayName="buildingArray">
                                                    <div
                                                        *ngFor="let building of buildings(i)['controls']; let j = index">
                                                        <div [formGroupName]="j" class="mb-3">

                                                            <mat-expansion-panel>
                                                                <mat-expansion-panel-header>
                                                                    <mat-panel-title class="row">
                                                                        <div class="col-md-11">
                                                                            Project Building Details
                                                                        </div>
                                                                        <div class="col-md-1">
                                                                            <mat-icon class="mat-icon-delete"
                                                                                *ngIf="j!=0"
                                                                                (click)="removeBuildingArray(i,j)">delete_outline</mat-icon>
                                                                        </div>
                                                                    </mat-panel-title>
                                                                </mat-expansion-panel-header>

                                                                <mat-divider></mat-divider>

                                                                <div class="row">
                                                                    <mat-form-field class="col-md-6">
                                                                        <input matInput placeholder="Building Name"
                                                                            formControlName="buildingName" />
                                                                        <mat-error>Building name is required</mat-error>
                                                                    </mat-form-field>

                                                                    <mat-form-field class="col-md-6">
                                                                        <input matInput
                                                                            placeholder="Building Description"
                                                                            formControlName="desc" />
                                                                        <mat-error>Building Description is
                                                                            required</mat-error>
                                                                    </mat-form-field>
                                                                </div>

                                                                <!-- Floor Form Array -->
                                                                <div class="row">
                                                                    <div class="col-md-12">
                                                                        <button type="button"
                                                                            class="mat-button-gradient-green" mat-button
                                                                            (click)="addFloor(i,j)">Add Floor
                                                                        </button>
                                                                    </div>
                                                                </div>
                                                                <!-- Floor Form Array -->
                                                                <div formArrayName="FloorArray">
                                                                    <div
                                                                        *ngFor="let Floor of Floors(i,j)['controls']; let k = index">
                                                                        <div [formGroupName]="k" class="mb-3">

                                                                            <mat-expansion-panel>
                                                                                <mat-expansion-panel-header>
                                                                                    <mat-panel-title class="row">
                                                                                        <div class="col-md-11">
                                                                                            Project Floors Details
                                                                                        </div>
                                                                                        <div class="col-md-1">
                                                                                            <mat-icon
                                                                                                class="mat-icon-delete"
                                                                                                (click)="removeFloorArray(i,j,k)">delete_outline</mat-icon>
                                                                                        </div>
                                                                                    </mat-panel-title>
                                                                                </mat-expansion-panel-header>

                                                                                <mat-divider></mat-divider>

                                                                                <div class="row">
                                                                                    <mat-form-field class="col-md-6">
                                                                                        <input matInput
                                                                                            placeholder="Floor Name"
                                                                                            formControlName="floorName" />
                                                                                        <!-- <mat-error>Building name is required</mat-error> -->
                                                                                    </mat-form-field>

                                                                                    <mat-form-field class="col-md-6">
                                                                                        <input matInput
                                                                                            placeholder="Floor Description"
                                                                                            formControlName="floorDesc" />

                                                                                    </mat-form-field>
                                                                                </div>
                                                                            </mat-expansion-panel>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </mat-expansion-panel>
                                                        </div>
                                                    </div>
                                                </div>

                                            </mat-expansion-panel>
                                        </div>
                                    </div>
                                </div>
                            </mat-accordion>
                            <!-- Store Form Aarry -->
                            <mat-accordion class="row">
                                <div formArrayName="storeArray">
                                    <div *ngFor="let store of stores()['controls'];  let i = index">
                                        <div [formGroupName]="i" class="mb-3">
                                            <mat-expansion-panel>
                                                <mat-expansion-panel-header>
                                                    <mat-panel-title class="row">
                                                        <div class="col-md-11">
                                                            Project Store Details
                                                        </div>
                                                    </mat-panel-title>
                                                </mat-expansion-panel-header>
                                                <mat-divider></mat-divider>

                                                <div class="row">
                                                    <mat-form-field class="col-md-6 form-group">
                                                        <input type="text" matInput placeholder="Store Name"
                                                            formControlName="storeName" />
                                                        <mat-error
                                                            *ngIf="storeErrorArray('storeName', 'required',i)">Store
                                                            name
                                                            is required</mat-error>
                                                        <mat-error
                                                            *ngIf="storeErrorArray('storeName', 'pattern',i)">Please
                                                            provide a
                                                            valid store name</mat-error>
                                                    </mat-form-field>

                                                    <mat-form-field class="col-md-6 form-group">
                                                        <input type="text" matInput placeholder="Store Description"
                                                            formControlName="desc"
                                                            [ngClass]="{ 'is-invalid': submitted &&  store.get('desc')?.invalid }" />
                                                        <mat-error>Store description is required</mat-error>
                                                    </mat-form-field>
                                                </div>

                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <button type="button" class="mat-button-gradient-green"
                                                            mat-button (click)="addSubStore(i)">Add Sub Store
                                                        </button>
                                                    </div>
                                                </div>
                                                <!-- Sub Store Form Array -->
                                                <div formArrayName="subStoreArray">
                                                    <div
                                                        *ngFor="let subStore of subStores(i)['controls']; let j = index">
                                                        <div [formGroupName]="j" class="mb-3">

                                                            <mat-expansion-panel>
                                                                <mat-expansion-panel-header>
                                                                    <mat-panel-title class="row">
                                                                        <div class="col-md-11">
                                                                            Sub Store Details
                                                                        </div>
                                                                        <div class="col-md-1">
                                                                            <mat-icon class="mat-icon-delete"
                                                                                (click)="removeSubStores(i,j)">delete_outline</mat-icon>
                                                                        </div>
                                                                    </mat-panel-title>
                                                                </mat-expansion-panel-header>
                                                                <mat-divider></mat-divider>
                                                                <div class="row">

                                                                    <mat-form-field class="col-md-6 form-group">
                                                                        <input type="text" matInput
                                                                            placeholder="Sub Store Name"
                                                                            formControlName="storeName"
                                                                            [ngClass]="{ 'is-invalid': submitted &&  subStore.get('storeName')?.invalid }" />
                                                                        <mat-error>Sub-store name is
                                                                            required</mat-error>
                                                                    </mat-form-field>

                                                                    <mat-form-field class="col-md-6 form-group">
                                                                        <input type="text" matInput
                                                                            placeholder=" Sub Store Description"
                                                                            formControlName="desc"
                                                                            [ngClass]="{ 'is-invalid': submitted &&  subStore.get('desc')?.invalid }" />
                                                                        <mat-error>Sub-store description is
                                                                            required</mat-error>
                                                                    </mat-form-field>
                                                                </div>
                                                            </mat-expansion-panel>
                                                        </div>
                                                    </div>
                                                </div>
                                            </mat-expansion-panel>
                                        </div>
                                    </div>
                                </div>
                            </mat-accordion>

                            <!-- <mat-accordion class="row"> -->
                            <mat-expansion-panel>
                                <mat-expansion-panel-header>
                                    <mat-panel-title class="row">
                                        <div class="col-md-11">
                                            Key Person Details
                                        </div>
                                    </mat-panel-title>
                                </mat-expansion-panel-header>
                                <mat-divider></mat-divider>
                                <div class="row">
                                    <div class="col-md-12 ">
                                        <button type="button" (click)="addkeyPerson()" class="mat-button-gradient-green"
                                            mat-button>Add Key Person
                                        </button>
                                    </div>
                                </div>
                                <!-- Sub Store Form Array -->
                                <div formArrayName="keyPersonArray">
                                    <div *ngFor="let key of keyPerson()['controls'];  let i = index">
                                        <div [formGroupName]="i" class="mb-3">
                                            <mat-expansion-panel>
                                                <mat-expansion-panel-header>
                                                    <mat-panel-title class="row">
                                                        <div class="col-md-11">
                                                            Key person Details
                                                        </div>
                                                        <div class="col-md-1">
                                                            <mat-icon class="mat-icon-delete" *ngIf="i!=0"
                                                                (click)="removekeyPerson(i)">delete_outline</mat-icon>
                                                        </div>
                                                    </mat-panel-title>
                                                </mat-expansion-panel-header>
                                                <mat-divider></mat-divider>
                                                <div class="row">
                                                    <ng-select class="col-md-3 form-group "
                                                        formControlName="designationCode"
                                                        placeholder="Designation Code">
                                                        <ng-option *ngFor="let item of designationList"
                                                            [value]="item.designationCode">
                                                            {{item.designationCode}}
                                                        </ng-option>
                                                    </ng-select>

                                                    <ng-select class="col-md-3 form-group " formControlName="bpCode"
                                                        placeholder="user Name">
                                                        <ng-option *ngFor="let item of bpCodeList"
                                                            [value]="item.bpCode">
                                                            {{item.bpCode}}
                                                        </ng-option>
                                                    </ng-select>

                                                </div>
                                            </mat-expansion-panel>
                                        </div>
                                    </div>
                                </div>
                            </mat-expansion-panel>
                            <!-- </mat-accordion> -->
                            <div class="row mt-3">
                                <div class="col-md-6">
                                    <button type="submit" class="mat-button-gradient" *ngIf="isCreate==0"
                                        mat-button>Save Project</button>
                                    <button type="submit" class="mat-button-gradient" *ngIf="isCreate==1"
                                        mat-button>Update Project</button>
                                </div>
                            </div>
                        </form>
                    </mat-card-content>
                </mat-card>

            </mat-tab>
        </mat-tab-group>
    </mat-card>
</section>





<!-- <pre>{{createProject.value | json}}</pre> -->

<ng-template #clientDialog>
    <mat-dialog-content>
        <mat-card-header>
            <mat-card-title>Contact Person</mat-card-title>
        </mat-card-header>

        <mat-divider></mat-divider>
        <form *ngIf="createPerson" [formGroup]="createPerson" (ngSubmit)="submitForm()">
            <div class="row">
                <mat-form-field class="col-md-3 form-group">
                    <mat-label>Person Type</mat-label>
                    <mat-select type="text" matInput placeholder="Person Type" formControlName="persontype">
                        <mat-option value="Commertial">Commertial</mat-option>
                        <mat-option value="Technical">Technical</mat-option>
                    </mat-select>
                    <mat-error *ngIf="Error('persontype', 'required')">Person type is required</mat-error>
                    <mat-error *ngIf="Error('persontype', 'pattern')">Please provide a valid person type</mat-error>
                </mat-form-field>

                <mat-form-field class="col-md-3 ">
                    <input type="text" matInput placeholder="Name" formControlName="name" />
                    <mat-error *ngIf="Error('name', 'required')">Name
                        is required</mat-error>
                    <mat-error *ngIf="Error('name', 'pattern')">Please
                        provide a valid name</mat-error>
                </mat-form-field>

                <mat-form-field class="col-md-3 ">
                    <input type="text" matInput placeholder="Phone" formControlName="phone" />
                    <mat-error *ngIf="Error('phone', 'required')">Phone is
                        required</mat-error>
                    <mat-error *ngIf="Error('phone', 'pattern')">Please provide a valid
                        phone</mat-error>
                </mat-form-field>

                <mat-form-field class="col-md-3 ">
                    <input type="text" matInput placeholder="Email Id" formControlName="emailId" />
                    <mat-error *ngIf="Error('emailId', 'required')">Email Id is
                        required</mat-error>
                    <mat-error *ngIf="Error('emailId', 'pattern')">Please provide a valid
                        email id</mat-error>
                </mat-form-field>
            </div>
            <div class="row mt-3">
                <div class="col-md-6">
                    <button type="submit" class="mat-button-gradient" mat-button>Add</button>
                </div>
            </div>
        </form>
    </mat-dialog-content>
</ng-template>