<section>
    <!-- Mat Card -->
    <mat-card>
        <!-- Mat Tab Group -->
        <mat-tab-group [selectedIndex]="isActiveTab" (focusChange)="tabIsActive($event,0)">
            <!-- Mat Tab -->
            <mat-tab label="View Company">
                <!-- Mat Card -->
                <mat-card class="mt-2">
                    <!-- Header -->
                    <mat-card-header>
                        <mat-card-title>Company Details</mat-card-title>
                    </mat-card-header>

                    <mat-divider></mat-divider>
                    <!-- Container -->
                    <div class=" table-responsive">
                        <!-- Table Filter -->
                        <mat-form-field class="col-md-3 float-right filter-class">
                            <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
                        </mat-form-field>
                        <!-- Table -->
                        <mat-table [dataSource]="dataSource" matSort>
                            <!-- Update Company Column -->
                            <ng-container matColumnDef="action">
                                <mat-header-cell *matHeaderCellDef mat-sort-header> Actions </mat-header-cell>
                                <mat-cell *matCellDef="let row">
                                    <mat-icon (click)="editCompany(row)">update</mat-icon>
                                    <mat-icon (click)="viewCompany(row)">remove_red_eye</mat-icon>
                                    <mat-icon (click)="deleteMe(row)">delete</mat-icon>
                                </mat-cell>
                            </ng-container>

                            <!-- Company Code Column -->
                            <ng-container matColumnDef="cmpCode">
                                <mat-header-cell *matHeaderCellDef mat-sort-header> Company Code </mat-header-cell>
                                <mat-cell *matCellDef="let row"> {{row.cmpCode}} </mat-cell>
                            </ng-container>

                            <!-- State Code Column -->
                            <ng-container matColumnDef="stateCode">
                                <mat-header-cell *matHeaderCellDef mat-sort-header> State Code </mat-header-cell>
                                <mat-cell *matCellDef="let row"> {{row.stateCode}} </mat-cell>
                            </ng-container>

                            <!-- Company Name Column -->
                            <ng-container matColumnDef="cmpName">
                                <mat-header-cell *matHeaderCellDef mat-sort-header> Company Name </mat-header-cell>
                                <mat-cell *matCellDef="let row"> {{row.cmpName}} </mat-cell>
                            </ng-container>

                            <!-- Short Key Column -->
                            <ng-container matColumnDef="shortKey">
                                <mat-header-cell *matHeaderCellDef mat-sort-header> Short Key </mat-header-cell>
                                <mat-cell *matCellDef="let row"> {{row.shortKey}} </mat-cell>
                            </ng-container>

                            <!-- Street Column -->
                            <ng-container matColumnDef="street">
                                <mat-header-cell *matHeaderCellDef mat-sort-header> Street </mat-header-cell>
                                <mat-cell *matCellDef="let row"> {{row.street}} </mat-cell>
                            </ng-container>

                            <!-- Company PAN Column -->
                            <ng-container matColumnDef="cmpPAN">
                                <mat-header-cell *matHeaderCellDef mat-sort-header>Company PAN </mat-header-cell>
                                <mat-cell *matCellDef="let row"> {{row.cmpPAN}} </mat-cell>
                            </ng-container>

                            <!-- Company CIN Column -->
                            <ng-container matColumnDef="cmpCIN">
                                <mat-header-cell *matHeaderCellDef mat-sort-header>Company CIN </mat-header-cell>
                                <mat-cell *matCellDef="let row"> {{row.cin}} </mat-cell>
                            </ng-container>

                            <!-- Address Line1 Column -->
                            <ng-container matColumnDef="addressLine1">
                                <mat-header-cell *matHeaderCellDef mat-sort-header>Address Line1 </mat-header-cell>
                                <mat-cell *matCellDef="let row"> {{row.addressLine1}} </mat-cell>
                            </ng-container>

                            <!-- Address Line2 Column -->
                            <ng-container matColumnDef="addressLine2">
                                <mat-header-cell *matHeaderCellDef mat-sort-header>Address Line2 </mat-header-cell>
                                <mat-cell *matCellDef="let row"> {{row.addressLine2}} </mat-cell>
                            </ng-container>

                            <!-- City Column -->
                            <ng-container matColumnDef="city">
                                <mat-header-cell *matHeaderCellDef mat-sort-header>City </mat-header-cell>
                                <mat-cell *matCellDef="let row"> {{row.city}} </mat-cell>
                            </ng-container>

                            <!-- Postal Code Column -->
                            <ng-container matColumnDef="postalCode">
                                <mat-header-cell *matHeaderCellDef mat-sort-header>Postal Code </mat-header-cell>
                                <mat-cell *matCellDef="let row"> {{row.postalCode}} </mat-cell>
                            </ng-container>

                            <!-- Company Logo Column -->
                            <ng-container matColumnDef="cmpLogo">
                                <mat-header-cell *matHeaderCellDef mat-sort-header>Company Logo</mat-header-cell>
                                <mat-cell *matCellDef="let row"> {{row.cmpLogo}} </mat-cell>
                            </ng-container>

                            <!-- Company WebSite URL Column -->
                            <ng-container matColumnDef="cmpWebSiteURL">
                                <mat-header-cell *matHeaderCellDef mat-sort-header>Company WebSite URL
                                </mat-header-cell>
                                <mat-cell *matCellDef="let row"> {{row.cmpWebSiteURL}} </mat-cell>
                            </ng-container>


                            <!-- Contact Person email Column -->
                            <ng-container matColumnDef="email">
                                <mat-header-cell *matHeaderCellDef mat-sort-header> Email </mat-header-cell>
                                <mat-cell *matCellDef="let row"> {{row.email}} </mat-cell>
                            </ng-container>

                            <!-- Contact Person Phone Column -->
                            <ng-container matColumnDef="phone">
                                <mat-header-cell *matHeaderCellDef mat-sort-header> Phone</mat-header-cell>
                                <mat-cell *matCellDef="let row"> {{row.phone}} </mat-cell>
                            </ng-container>

                            <!-- Create By Column -->
                            <ng-container matColumnDef="createBy">
                                <mat-header-cell *matHeaderCellDef mat-sort-header> Create By </mat-header-cell>
                                <mat-cell *matCellDef="let row"> {{row.createBy}} </mat-cell>
                            </ng-container>

                            <!-- Create On Column -->
                            <ng-container matColumnDef="createOn">
                                <mat-header-cell *matHeaderCellDef mat-sort-header> Create On</mat-header-cell>
                                <mat-cell *matCellDef="let row"> {{row.createOn | date:'yyyy-MM-dd'}} </mat-cell>
                            </ng-container>

                            <!-- Update By Column -->
                            <ng-container matColumnDef="updateBy">
                                <mat-header-cell *matHeaderCellDef mat-sort-header> Update By </mat-header-cell>
                                <mat-cell *matCellDef="let row"> {{row.updateBy}} </mat-cell>
                            </ng-container>

                            <!-- Update On Column -->
                            <ng-container matColumnDef="updateOn">
                                <mat-header-cell *matHeaderCellDef mat-sort-header> Update On</mat-header-cell>
                                <mat-cell *matCellDef="let row"> {{row.updateOn | date:'yyyy-MM-dd'}} </mat-cell>
                            </ng-container>

                            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                            <mat-row *matRowDef="let row; columns: displayedColumns;">
                            </mat-row>
                        </mat-table>

                        <mat-paginator [pageSizeOptions]="[ 10, 25, 50, 100, 500, 1000]"></mat-paginator>
                    </div>



                </mat-card>

            </mat-tab>
            <mat-tab label="Create Company">
                <!-- Mat Card -->
                <mat-card class="mt-2">
                    <!-- Mat Card Header-->
                    <mat-card-header>
                        <mat-card-title *ngIf="isCreate==0">Company Creation</mat-card-title>
                        <mat-card-title *ngIf="isCreate==1">Company Update</mat-card-title>
                    </mat-card-header>

                    <mat-divider></mat-divider>
                    <!-- Mat Card Content -->
                    <mat-card-content>
                        <form *ngIf="createCompany" [formGroup]="createCompany"
                            (ngSubmit)="addCompany(createCompany.value)">
                            <div class="row">

                                <mat-form-field class="col-md-3 form-group">
                                    <input type="text" matInput placeholder="Company Code" formControlName="cmpCode" />
                                    <mat-error *ngIf="myError('cmpCode', 'required')">Company Code is
                                        required</mat-error>
                                    <mat-error *ngIf="myError('cmpCode', 'pattern')">Please provide a valid Company
                                        Code</mat-error>
                                </mat-form-field>

                                <mat-form-field class="col-md-3 form-group">
                                    <input type="text" matInput placeholder="Company Name" formControlName="cmpName"
                                        id="cmpName" />
                                    <mat-error *ngIf="myError('cmpName', 'required')">Company Code is
                                        required</mat-error>
                                    <mat-error *ngIf="myError('cmpName', 'pattern')">Please provide a valid Company
                                        Code</mat-error>
                                </mat-form-field>

                                <mat-form-field class="col-md-3 form-group">
                                    <input type="text" matInput placeholder="Short Key" formControlName="shortKey" />
                                    <mat-error *ngIf="myError('shortKey', 'required')">Short Key is required</mat-error>
                                    <mat-error *ngIf="myError('shortKey', 'pattern')">Please provide a valid Short
                                        Key</mat-error>
                                </mat-form-field>


                                <mat-form-field class="col-md-3 form-group">
                                    <input type="text" matInput placeholder="Company PAN" formControlName="cmpPAN"
                                        id="cmpPAN" />
                                    <mat-error *ngIf="myError('cmpPAN', 'required')">Company PAN is required</mat-error>
                                    <mat-error *ngIf="myError('cmpPAN', 'pattern')">Please provide a valid company
                                        PAN</mat-error>
                                </mat-form-field>

                                <mat-form-field class="col-md-3 form-group">
                                    <input type="text" matInput placeholder="Company CIN" formControlName="cin"
                                        id="cin" />
                                    <mat-error *ngIf="myError('cin', 'required')">Company CIN is required</mat-error>
                                    <mat-error *ngIf="myError('cin', 'pattern')">Please provide a valid company
                                        CIN</mat-error>
                                </mat-form-field>


                                <ng-select class="col-md-3 form-group " formControlName="countryCode"
                                    (change)="getState($event);" placeholder="Country">
                                    <ng-option *ngFor="let item of CountryList" [value]="item.countryCode">
                                        {{item.countryCode}} {{item.countryName}}
                                    </ng-option>
                                </ng-select>

                                <ng-select class="col-md-3 form-group " formControlName="stateCode" placeholder="State">
                                    <ng-option *ngFor="let item of StateList" [value]="item.stateCode">
                                        {{item.stateCode}} {{item.stateName}}
                                    </ng-option>
                                </ng-select>

                                <mat-form-field class="col-md-3 ">
                                    <input type="text" matInput placeholder="City" formControlName="city" id="city" />
                                    <mat-error *ngIf="myError('city', 'required')">State is required</mat-error>
                                    <mat-error *ngIf="myError('city', 'pattern')">Please provide a valid
                                        state</mat-error>
                                </mat-form-field>

                                <mat-form-field class="col-md-3 ">
                                    <input type="text" matInput placeholder="Street" formControlName="street"
                                        id="street" />
                                    <mat-error *ngIf="myError('street', 'required')">Street is required</mat-error>
                                    <mat-error *ngIf="myError('street', 'pattern')">Please provide a valid
                                        street</mat-error>
                                </mat-form-field>

                                <mat-form-field class="col-md-3 ">
                                    <input type="text" matInput placeholder="Address Line 1"
                                        formControlName="addressLine1" id="addressLine1" />
                                    <mat-error *ngIf="myError('addressLine1', 'required')">Addressline1 is
                                        required</mat-error>
                                    <mat-error *ngIf="myError('addressLine1', 'pattern')">Please provide a valid
                                        addressline1</mat-error>
                                </mat-form-field>

                                <mat-form-field class="col-md-3 ">
                                    <input type="text" matInput placeholder="Address Line 2"
                                        formControlName="addressLine2" id="addressLine2" />
                                    <mat-error *ngIf="myError('addressLine2', 'required')">Addressline2 is
                                        required</mat-error>
                                    <mat-error *ngIf="myError('addressLine2', 'pattern')">Please provide a valid
                                        addressline2</mat-error>
                                </mat-form-field>

                                <mat-form-field class="col-md-3 ">
                                    <input type="text" matInput placeholder="Postal Code" formControlName="postalCode"
                                        id="postalCode" />
                                    <mat-error *ngIf="myError('postalCode', 'required')">Postal code is
                                        required</mat-error>
                                    <mat-error *ngIf="myError('postalCode', 'pattern')">Please provide a valid postal
                                        code</mat-error>
                                </mat-form-field>

                                <mat-form-field class="col-md-3 ">
                                    <input type="text" matInput placeholder="Phone" formControlName="phone"
                                        id="phone" />
                                    <mat-error *ngIf="myError('phone', 'required')">Phone is required</mat-error>
                                    <mat-error *ngIf="myError('phone', 'pattern')">Please provide a valid
                                        phone</mat-error>
                                </mat-form-field>

                                <mat-form-field class="col-md-3 ">
                                    <input type="text" matInput placeholder="Email Id" formControlName="email"
                                        id="email" />
                                    <mat-error *ngIf="myError('email', 'required')">Email is required</mat-error>
                                    <mat-error *ngIf="myError('email', 'pattern')">Please provide a valid
                                        email</mat-error>
                                </mat-form-field>

                                <mat-form-field class="col-md-3 form-group">
                                    <input type="text" matInput placeholder="Company website"
                                        formControlName="cmpWebSiteURL" id="cmpWebSiteURL" />
                                    <mat-error *ngIf="myError('cmpWebSiteURL', 'required')">Cmp website URL is
                                        required</mat-error>
                                    <mat-error *ngIf="myError('cmpWebSiteURL', 'pattern')">Please provide a valid cmp
                                        website
                                        URL</mat-error>
                                </mat-form-field>


                                <!-- Size of image less then 2MB Or 5MB -->
                                <mat-form-field class="col-md-3 form-group">

                                    <input matInput placeholder="Select Images" readonly
                                        [value]="selectedFileNames ? selectedFileNames : ''" />

                                    <input type="file" id="fileInput" name="fileInput" accept="image/*"
                                        formControlName="cmpLogo" [multiple]="false"
                                        (change)="selectFiles($event)" />

                                    <button mat-icon-button matSuffix *ngIf="previews" matTooltip="Remove selected file"
                                        [matTooltipPosition]="'above'" type="button" color="warn">
                                        <mat-icon (click)="removefile()">close</mat-icon>
                                    </button>
                                    <!-- <mat-error *ngIf="myError('cmpLogo', 'pattern')">Please select logo size lessthen 5MB </mat-error> -->
                                </mat-form-field>

                                <div class="col-md-3 ">
                                    <img  *ngIf="previews" [src]="previews" class="preview">
                                </div>


                            </div>
                            <div class="row md-4">
                                <div class="col-md-12">
                                    <button type="button" class="mat-button-gradient-green" mat-button
                                        (click)="addGSTNArr()">Add
                                        GSTN</button>
                                </div>
                            </div>

                            
                            <mat-accordion class="row">
                                <div formArrayName="plants">
                                    <div *ngFor="let element of plantsArray['controls']; let i=index">
                                        <div [formGroupName]="i" class="mb-3">
                                            <mat-expansion-panel>
                                                <mat-expansion-panel-header>
                                                    <mat-panel-title class="row">
                                                        <div class="col-md-11">
                                                            State Wise GSTN Registration
                                                        </div>
                                                        <div class="col-md-1">
                                                            <mat-icon *ngIf="i!=0 || plantsArray['controls'].length>1"
                                                                class="mat-icon-delete"
                                                                (click)="deletearr(i)">delete_outline</mat-icon>
                                                        </div>
                                                    </mat-panel-title>

                                                </mat-expansion-panel-header>
                                                <mat-divider></mat-divider>
                                                <div class="row">
                                                    <mat-form-field class="col-md-4 ">
                                                        <input type="text" matInput placeholder="Plant Code"
                                                            formControlName="plantCode" />
                                                        <mat-error *ngIf="myErrorArray('plantCode', 'required',i)">Plant
                                                            Code
                                                            is required</mat-error>
                                                        <mat-error *ngIf="myErrorArray('plantCode', 'pattern',i)">Please
                                                            provide a valid plantCode</mat-error>
                                                    </mat-form-field>

                                                    <mat-form-field class="col-md-4 ">
                                                        <input type="text" matInput placeholder="Plant Name"
                                                            formControlName="plantName" />
                                                        <mat-error *ngIf="myErrorArray('plantName', 'required',i)">Plant
                                                            Name
                                                            is required</mat-error>
                                                        <mat-error *ngIf="myErrorArray('plantName', 'pattern',i)">Please
                                                            provide
                                                            a valid Plant Name</mat-error>
                                                    </mat-form-field>

                                                    <mat-form-field class="col-md-4 ">
                                                        <input type="text" matInput placeholder="Short Key"
                                                            formControlName="shortKey" />
                                                        <mat-error *ngIf="myErrorArray('shortKey', 'required',i)">Short
                                                            Key
                                                            is required</mat-error>
                                                        <mat-error *ngIf="myErrorArray('shortKey', 'pattern',i)">Please
                                                            provide
                                                            a valid Short Key</mat-error>
                                                    </mat-form-field>

                                                    <mat-form-field class="col-md-4 ">
                                                        <input type="text" matInput placeholder="GST Number"
                                                            formControlName="gstNumber" />
                                                        <mat-error *ngIf="myErrorArray('gstNumber', 'required',i)">GST
                                                            Number
                                                            is required</mat-error>
                                                        <mat-error *ngIf="myErrorArray('gstNumber', 'pattern',i)">Please
                                                            provide
                                                            a valid GST Number</mat-error>
                                                    </mat-form-field>
                                                    
                                                    <ng-select class="col-md-4 form-group "
                                                        formControlName="countryCode" (change)="getState($event);"
                                                        placeholder="Country">
                                                        <ng-option *ngFor="let item of CountryList"
                                                            [value]="item.countryCode">
                                                            {{item.countryCode}} {{item.countryName}}
                                                        </ng-option>
                                                    </ng-select>

                                                    <ng-select class="col-md-4 form-group " formControlName="stateCode"
                                                        placeholder="State">
                                                        <ng-option *ngFor="let item of StateList"
                                                            [value]="item.stateCode">
                                                            {{item.stateCode}} {{item.stateName}}
                                                        </ng-option>
                                                    </ng-select>

                                                    <mat-form-field class="col-md-4 ">
                                                        <input type="text" matInput placeholder="City"
                                                            formControlName="city" />
                                                        <mat-error *ngIf="myErrorArray('city', 'required',i)">City
                                                            is required</mat-error>
                                                        <mat-error *ngIf="myErrorArray('city', 'pattern',i)">Please
                                                            provide
                                                            a valid City</mat-error>
                                                    </mat-form-field>

                                                    <mat-form-field class="col-md-4 ">
                                                        <input type="text" matInput placeholder="Street"
                                                            formControlName="street" />
                                                        <mat-error *ngIf="myErrorArray('street', 'required',i)">Street
                                                            is required</mat-error>
                                                        <mat-error *ngIf="myErrorArray('street', 'pattern',i)">Please
                                                            provide
                                                            a valid street</mat-error>
                                                    </mat-form-field>

                                                    <mat-form-field class="col-md-4 ">
                                                        <input type="text" matInput placeholder="Address Line1"
                                                            formControlName="addressLine1" />
                                                        <mat-error
                                                            *ngIf="myErrorArray('addressLine1', 'required',i)">Address
                                                            Line1
                                                            is required</mat-error>
                                                        <mat-error
                                                            *ngIf="myErrorArray('addressLine1', 'pattern',i)">Please
                                                            provide
                                                            a valid Address Line1</mat-error>
                                                    </mat-form-field>

                                                    <mat-form-field class="col-md-4 ">
                                                        <input type="text" matInput placeholder="Address Line2"
                                                            formControlName="addressLine2" />
                                                        <mat-error
                                                            *ngIf="myErrorArray('addressLine2', 'required',i)">Address
                                                            Line2
                                                            is required</mat-error>
                                                        <mat-error
                                                            *ngIf="myErrorArray('addressLine2', 'pattern',i)">Please
                                                            provide
                                                            a valid Address Line2</mat-error>
                                                    </mat-form-field>

                                                    <mat-form-field class="col-md-4 ">
                                                        <input type="text" matInput placeholder="Postal Code"
                                                            formControlName="postalCode" />
                                                        <mat-error
                                                            *ngIf="myErrorArray('postalCode', 'required',i)">Postal Code
                                                            is required</mat-error>
                                                        <mat-error
                                                            *ngIf="myErrorArray('postalCode', 'pattern',i)">Please
                                                            provide
                                                            a valid Postal Code</mat-error>
                                                    </mat-form-field>

                                                    <mat-form-field class="col-md-4 ">
                                                        <input type="text" matInput placeholder="Email"
                                                            formControlName="email" />
                                                        <mat-error *ngIf="myErrorArray('email', 'required',i)">Email
                                                            is required</mat-error>
                                                        <mat-error *ngIf="myErrorArray('email', 'pattern',i)">Please
                                                            provide
                                                            a valid Email</mat-error>
                                                    </mat-form-field>

                                                    <mat-form-field class="col-md-4 ">
                                                        <input type="text" matInput placeholder="Phone"
                                                            formControlName="phone" />
                                                        <mat-error *ngIf="myErrorArray('phone', 'required',i)">Phone
                                                            is required</mat-error>
                                                        <mat-error *ngIf="myErrorArray('phone', 'pattern',i)">Please
                                                            provide
                                                            a valid Phone</mat-error>
                                                    </mat-form-field>

                                                </div>
                                            </mat-expansion-panel>
                                        </div>
                                    </div>
                                </div>
                            </mat-accordion>

                            <div class="row">
                                <div class="col-md-6">
                                    <button type="button" mat-button (click)="addStudDetArr()">Add student</button>
                                </div>
                            </div>

                            <mat-accordion>
                                <div formArrayName="students">
                                    <div *ngFor="let element of studsArray['controls'];let n= index">
                                        <div [formGroupName]="n" class="mb-3">
                                            <mat-expansion-panel>
                                                <mat-expansion-panel-header>
                                                    <mat-panel-title class="row">
                                                        <div class="col-md-11">
                                                            Address wise Student Details 
                                                        </div>
                                                        <div class="col-md-1">
                                                            <mat-icon *ngIf="n!=0 || studsArray['controls'].length>1" class="mat-icon-delete" (click)="deleteArr(n)">delete_outline</mat-icon>
                                                        </div>
                                                    </mat-panel-title>
                                                </mat-expansion-panel-header>
                                                <mat-divider></mat-divider>
                                                <div class="row">

                                                    <mat-form-field class="col-md-4 ">
                                                        <input type="text" matInput placeholder="First Name"
                                                            formControlName="studFName" />
                                                        <!-- <mat-error *ngIf="myErrorArray('studFName', 'required',n)">Student's First
                                                            Name
                                                            is required</mat-error> -->
                                                    </mat-form-field>

                                                    <mat-form-field class="col-md-4 ">
                                                        <input type="text" matInput placeholder="Last Name"
                                                            formControlName="studLName" />
                                                        <!-- <mat-error *ngIf="myErrorArray('studLName', 'required',n)">Student's Last
                                                            Name
                                                            is required</mat-error> -->
                                                    </mat-form-field>
                                                    
                                                    <mat-form-field class="col-md-4 ">
                                                        <input type="text" matInput placeholder="Phone Number"
                                                            formControlName="studPhone" />
                                                        <!-- <mat-error *ngIf="myErrorArray('studPhone', 'required',n)">Student's Phone Number
                                                            is required</mat-error>
                                                        <mat-error *ngIf="myErrorArray('studPhone', 'pattern',n)">Please
                                                            provide a valid Phone Number</mat-error> -->
                                                    </mat-form-field>

                                                    <ng-select class="col-md-4 form-group "
                                                    formControlName="studAdd" (change)="getState($event);"
                                                    placeholder="Address">
                                                    <ng-option *ngFor="let item of Address"
                                                        [value]="item.studAdd">
                                                         {{item.studAdd}}
                                                    </ng-option>
                                                </ng-select>

                                                    <mat-form-field class="col-md-4 ">
                                                        <input type="text" matInput placeholder="Email ID"
                                                            formControlName="studEmail" />
                                                        <!-- <mat-error *ngIf="myErrorArray('studEmail', 'required',n)">Student's Email ID
                                                            is required</mat-error>
                                                        <mat-error *ngIf="myErrorArray('studEmail', 'pattern',n)">Please
                                                            provide a valid Email</mat-error> -->
                                                    </mat-form-field>
                                                </div>
                                            </mat-expansion-panel>
                                        </div>
                                    </div>
                                </div>
                            </mat-accordion>


                            <div class="row mt-3">
                                <div class="col-md-6">
                                    <button type="submit" class="mat-button-gradient" *ngIf="isCreate==0"
                                        mat-button>Save Company</button>
                                    <button type="submit" class="mat-button-gradient" *ngIf="isCreate==1"
                                        mat-button>Update Company</button>
                                </div>
                            </div>

                        </form>
                    </mat-card-content>
                </mat-card>

            </mat-tab>
        </mat-tab-group>
    </mat-card>
</section>


<!-- View Company Dialog -->
<ng-template #viewDialog>

    <mat-dialog-content>
        <mat-card>
            <!-- Header -->
            <mat-card-header>
                <mat-card-title>Company Details View</mat-card-title>
            </mat-card-header>

            <mat-divider></mat-divider>
            <div class="col-md-12 row fs-14-5">
                <div class="col-md-3 ">
                    Company Code : {{updateRow.cmpCode}}
                </div>
                <div class="col-md-3 ">
                    Company Name : {{updateRow.cmpName}}
                </div>
                <div class="col-md-3">
                    Short Key : {{updateRow.shortKey}}
                </div>
                <div class="col-md-3">
                    PAN Number : {{updateRow.cmpPAN}}
                </div>
                <div class="col-md-3   ">
                    CIN Number : {{updateRow.cin}}
                </div>
                <div class="col-md-3   ">
                    Country :{{updateRow.countryCode}}
                </div>
                <div class="col-md-3   ">
                    State : {{updateRow.stateCode}}
                </div>
                <div class="col-md-3   ">
                    City : {{updateRow.city}}
                </div>
                <div class="col-md-3   ">
                    Street : {{updateRow.street}}
                </div>
                <div class="col-md-3   ">
                    Address Line 1 :{{updateRow.addressLine1}}
                </div>
                <div class="col-md-3   ">
                    Address Line 2 : {{updateRow.addressLine2}}
                </div>
                <div class="col-md-3   ">
                    Postal Code : {{updateRow.postalCode}}
                </div>
                <div class="col-md-3   ">
                    Phone : {{updateRow.phone}}
                </div>
                <div class="col-md-3   ">
                    Email : {{updateRow.email}}
                </div>
                <div class="col-md-3   ">
                    Website : {{updateRow.cmpWebSiteURL}}
                </div>
            </div>

            <mat-divider class="mt-1"></mat-divider>

            <mat-card-header class="mt-2">
                <mat-card-title>GSTN Details View</mat-card-title>
            </mat-card-header>

            <mat-divider></mat-divider>
            <!-- Container -->
            <div class="table-responsive">

                <!-- Table Filter -->
                <mat-form-field class="col-md-3 float-right filter-class">
                    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
                </mat-form-field>
                <!-- Table -->
                <mat-table [dataSource]="viewDataSource" matSort>

                    <!-- Company Code Column -->
                    <ng-container matColumnDef="cmpCode">
                        <mat-header-cell *matHeaderCellDef mat-sort-header> Company Code </mat-header-cell>
                        <mat-cell *matCellDef="let row"> {{row.cmpCode}} </mat-cell>
                    </ng-container>

                    <!-- State Code Column -->
                    <ng-container matColumnDef="plantCode">
                        <mat-header-cell *matHeaderCellDef mat-sort-header> Plant Code </mat-header-cell>
                        <mat-cell *matCellDef="let row"> {{row.plantCode}} </mat-cell>
                    </ng-container>

                    <!-- Company Name Column -->
                    <ng-container matColumnDef="plantName">
                        <mat-header-cell *matHeaderCellDef mat-sort-header> Plant Name </mat-header-cell>
                        <mat-cell *matCellDef="let row"> {{row.plantName}} </mat-cell>
                    </ng-container>

                    <!-- Short Key Column -->
                    <ng-container matColumnDef="shortKey">
                        <mat-header-cell *matHeaderCellDef mat-sort-header> Short Key </mat-header-cell>
                        <mat-cell *matCellDef="let row"> {{row.shortKey}} </mat-cell>
                    </ng-container>

                    <!-- GST Number Column -->
                    <ng-container matColumnDef="gstNumber">
                        <mat-header-cell *matHeaderCellDef mat-sort-header> GST Number </mat-header-cell>
                        <mat-cell *matCellDef="let row"> {{row.gstNumber}} </mat-cell>
                    </ng-container>

                    <!-- Street Column -->
                    <ng-container matColumnDef="street">
                        <mat-header-cell *matHeaderCellDef mat-sort-header> Street </mat-header-cell>
                        <mat-cell *matCellDef="let row"> {{row.street}} </mat-cell>
                    </ng-container>

                    <!-- Address Line1 Column -->
                    <ng-container matColumnDef="addressLine1">
                        <mat-header-cell *matHeaderCellDef mat-sort-header>Address Line1 </mat-header-cell>
                        <mat-cell *matCellDef="let row"> {{row.addressLine1}} </mat-cell>
                    </ng-container>

                    <!-- Address Line2 Column -->
                    <ng-container matColumnDef="addressLine2">
                        <mat-header-cell *matHeaderCellDef mat-sort-header>Address Line2 </mat-header-cell>
                        <mat-cell *matCellDef="let row"> {{row.addressLine2}} </mat-cell>
                    </ng-container>

                    <!-- City Column -->
                    <ng-container matColumnDef="city">
                        <mat-header-cell *matHeaderCellDef mat-sort-header>City </mat-header-cell>
                        <mat-cell *matCellDef="let row"> {{row.city}} </mat-cell>
                    </ng-container>

                    <!-- Postal Code Column -->
                    <ng-container matColumnDef="postalCode">
                        <mat-header-cell *matHeaderCellDef mat-sort-header>Postal Code </mat-header-cell>
                        <mat-cell *matCellDef="let row"> {{row.postalCode}} </mat-cell>
                    </ng-container>

                    <!-- Country Code Column -->
                    <ng-container matColumnDef="countryCode">
                        <mat-header-cell *matHeaderCellDef mat-sort-header>Country Code </mat-header-cell>
                        <mat-cell *matCellDef="let row"> {{row.countryCode}} </mat-cell>
                    </ng-container>

                    <!-- State Code Column -->
                    <ng-container matColumnDef="stateCode">
                        <mat-header-cell *matHeaderCellDef mat-sort-header>State Code </mat-header-cell>
                        <mat-cell *matCellDef="let row"> {{row.stateCode}} </mat-cell>
                    </ng-container>

                    <!-- Contact Person email Column -->
                    <ng-container matColumnDef="email">
                        <mat-header-cell *matHeaderCellDef mat-sort-header> Email </mat-header-cell>
                        <mat-cell *matCellDef="let row"> {{row.email}} </mat-cell>
                    </ng-container>

                    <!-- Contact Person Phone Column -->
                    <ng-container matColumnDef="phone">
                        <mat-header-cell *matHeaderCellDef mat-sort-header> Phone</mat-header-cell>
                        <mat-cell *matCellDef="let row"> {{row.phone}} </mat-cell>
                    </ng-container>

                    <!-- Create By Column -->
                    <ng-container matColumnDef="createBy">
                        <mat-header-cell *matHeaderCellDef mat-sort-header> Create By </mat-header-cell>
                        <mat-cell *matCellDef="let row"> {{row.createBy}} </mat-cell>
                    </ng-container>

                    <!-- Create On Column -->
                    <ng-container matColumnDef="createOn">
                        <mat-header-cell *matHeaderCellDef mat-sort-header> Create On</mat-header-cell>
                        <mat-cell *matCellDef="let row"> {{row.createOn|date:'yyyy-MM-dd'}} </mat-cell>
                    </ng-container>

                    <!-- Update By Column -->
                    <ng-container matColumnDef="updateBy">
                        <mat-header-cell *matHeaderCellDef mat-sort-header> Update By </mat-header-cell>
                        <mat-cell *matCellDef="let row"> {{row.updateBy}} </mat-cell>
                    </ng-container>

                    <!-- Update On Column -->
                    <ng-container matColumnDef="updateOn">
                        <mat-header-cell *matHeaderCellDef mat-sort-header> Update On</mat-header-cell>
                        <mat-cell *matCellDef="let row"> {{row.updateOn |date:'yyyy-MM-dd'}} </mat-cell>
                    </ng-container>

                    <mat-header-row *matHeaderRowDef="displayedColumn"></mat-header-row>
                    <mat-row *matRowDef="let row; columns: displayedColumn;">
                    </mat-row>
                </mat-table>

                <mat-paginator [pageSizeOptions]="[ 10, 25, 50, 100, 500, 1000]"></mat-paginator>
            </div>



        </mat-card>
    </mat-dialog-content>

</ng-template>

<!-- Delete Company Dialog -->
<ng-template #deleteDialog>

    <mat-dialog-content>
        <div class="card-body" style="align-content: center;">

            <i class="material-icons" style="font-size: 80px; color: #FFBF00; margin-left: 30%;">
                error_outline
            </i>

            <h5 class="card-title" style="text-align: center;"><strong>Are You Sure?</strong></h5>
            <h6 class="card-title" style="text-align: center;">You won't able to revert this!</h6>


        </div>
    </mat-dialog-content>
    <mat-dialog-actions align="end" style="margin-bottom: 0.5%;">
        <button mat-button matDialogClose color="primary" (click)="deleteCompany()">Yes, delete it!</button>
        <button mat-button matDialogClose color="primary">Cancel</button>
    </mat-dialog-actions>
</ng-template>