.example-card{

 max-width: 300px;
 height:150px;
 margin-top: 50px;
 // background: linear-gradient(to right, #e1d4cb , #e6d782);
 margin-bottom: 0px;
 }

mat-card:hover {
  background-color: #6a241e !important;
//   border-top-right-radius: 25px !important;
//   border-bottom-right-radius: 25px !important;
color:whitesmoke;
  width: 90% !important;
  .material-icons {
      color: whitesmoke !important;
  }
}

mat-card:hover mat-card-header{
  color:whitesmoke;
}


.mat-progress-bar.mat-progress-bar-fill::after{

 background-color: brown;

 }



//   .example-header-image {

//    // background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');

//     // background-size: cover;

//     // background-color: beige;

//   }







