<p>dashboard works!</p>
<section>
    <div class="container"  >
        <div class="row"  >
            <div class="col-md-3" >
                <mat-card class="example-card" style="margin-top: 50px;margin-left:0px; ">
                    <mat-card-header style="margin-right:0px;">
                        <mat-card-title >
                            <h1 style="color:#81180c"><mat-icon style="color:#81180c">people</mat-icon>&nbsp;&nbsp;385</h1>
                        </mat-card-title>
                        <mat-card-subtitle>
                            <h3 style="color:#81180c">New Employees</h3>
                            <mat-progress-bar mode="determinate" value="60" color="red" ></mat-progress-bar>
                        </mat-card-subtitle>
                        <div class="row">
                        </div>
                    </mat-card-header>
                    <mat-card-content>
                    </mat-card-content>
                    <mat-card-actions>
                    </mat-card-actions>
                </mat-card>
            </div>
            
            <div class="col-md-3">
                <mat-card class="example-card" >
                    <mat-card-header>
                        <mat-card-title>
                            <h1 style="color:#81180c"><mat-icon style="color:#81180c">local_mall</mat-icon> &nbsp;&nbsp;1087</h1>
                        </mat-card-title>
                        <mat-card-subtitle>
                            <h3 style="color:#81180c">New Clients</h3>
                            <mat-progress-bar mode="determinate" style="color:#89362d" value="75" theme="#89362d"></mat-progress-bar>
                        </mat-card-subtitle>
                        <div class="row">
                        </div>
                    </mat-card-header>
                    <mat-card-content>
                    </mat-card-content>
                    <mat-card-actions>
                    </mat-card-actions>
                </mat-card>
            </div>

                
            <div class="col-md-3" >
                <mat-card class="example-card" >
                    <mat-card-header class="mathead">
                        <mat-card-title>
                            <h1 style="color:#81180c"><mat-icon style="color:#81180c">local_mall</mat-icon>&nbsp;&nbsp;385</h1>
                        </mat-card-title>
                        <mat-card-subtitle>
                            <h3 style="color:#81180c">New Projects</h3>
                            <mat-progress-bar style="border-color: brown;" mode="determinate"
                                value="60"></mat-progress-bar>
                        </mat-card-subtitle>
                        <div class="row">
                        </div>
                    </mat-card-header>
                    <mat-card-content>
                    </mat-card-content>
                    <mat-card-actions>
                    </mat-card-actions>
                </mat-card>
            </div>
        </div>


        <!-- <div class="row">

  <div class="chart-wrapper">

    <canvas baseChart

    [data]="doughnutChartData"

    [labels]="doughnutChartLabels"

    [chartType]="doughnutChartType">

  </canvas>

</div>
</div> -->
    </div>
    <!-- <div class="row">

<div class="chart-container" style="margin-top: 30px;">

  <canvas  id="MyChart" >{{ chart }} </canvas>

</div>

</div> -->
    <!-- <div class="col-md-6">
        <mat-card class="example-card" style="margin-top: 25px;">
            <h2>Overview of project</h2>
            <mat-card-header>
                <div mat-card-avatar class="example-header-image"></div>
                <canvas id="MyChart">{{ chart }} </canvas>
                <div class="row">
                </div>
            </mat-card-header>
            <mat-card-content>
            </mat-card-content>
            <mat-card-actions>-->
                <!-- <button mat-button>LIKE</button>

      <button mat-button>SHARE</button> -->
            <!-- </mat-card-actions>
        </mat-card>

    </div> -->

</section>