<section>
    <mat-card>
        <mat-card-header>
            <mat-card-title>Data Master</mat-card-title>
        </mat-card-header>
        <mat-divider></mat-divider>
        <form [formGroup]="empdesForm" (ngSubmit)="addempdes()">
            
            <div class="row">
                <mat-form-field class="form-group col-md-3">
                    <mat-label>Employee ID</mat-label>
                    <input type="text" matInput placeholder="Employee ID" formControlName="dempid">
                </mat-form-field>

                <mat-form-field class="form-group col-md-3">
                    <mat-label>Employee Name</mat-label>
                    <mat-select type="text" matInput placeholder="Name" formControlName="dempname">
                        <!-- <mat-option value="1">Active</mat-option> -->
                    </mat-select>
                    <mat-error>Employee Name is required</mat-error>
                </mat-form-field>

                <mat-form-field class="form-group col-md-3">
                    <mat-label>Employee ID</mat-label>
                    <input type="text" matInput placeholder="Employee ID" formControlName="empemailid">
                </mat-form-field>

                <mat-form-field class="form-group col-md-3">
                    <mat-label>Company Name</mat-label>
                    <mat-select type="text" matInput placeholder="Name" formControlName="empcmpname">
                        <!-- <mat-option value="1">Active</mat-option> -->
                    </mat-select>
                    <mat-error>Comapany Name is required</mat-error>
                </mat-form-field>
            </div>
            <div class="row">
                <mat-form-field class="form-group col-md-3">
                    <mat-label>Select Department </mat-label>
                    <mat-select type="text" matInput formControlName="empdeptname" placeholder="Department">
                        <!-- <mat-option value="projectDesignation">Project Designation</mat-option> --> -->
                    </mat-select>
                </mat-form-field>

                <mat-form-field class="form-group col-md-3">
                    <mat-label>Department ID</mat-label>
                    <input type="text" matInput placeholder="Department ID" formControlName="empdeptid">
                </mat-form-field>

                <mat-form-field class="form-group col-md-3">
                    <mat-label>Manager ID</mat-label>
                    <input type="text" matInput placeholder="Manager ID" formControlName="empmngid">
                </mat-form-field>
                <mat-form-field class="form-group col-md-3">
                    <mat-label>Manager Name</mat-label>
                    <input type="text" matInput placeholder="Manager Name" formControlName="empmngname">
                </mat-form-field>
            </div>
            <div class="row">
                <mat-form-field class="form-group col-md-3">
                    <mat-label>Status</mat-label>
                    <mat-select type="text" matInput placeholder="Status" formControlName="status">
                        <mat-option value="1">Active</mat-option>
                        <mat-option value="0">Deactive</mat-option>
                    </mat-select>
                    <mat-error>Status is required</mat-error>
                </mat-form-field>
            </div>
                

            <div class="row mt-3">
                <div class="col-md-6">
                    <button type="submit" class="mat-button-gradient" mat-button>Save Data Master</button>
                </div>
            </div>
        </form>
    </mat-card>
</section>