<section>
    <mat-card>
        <mat-tab-group [selectedIndex]="isActiveTab" (focusChange)="tabIsActive($event,0)">
            <mat-tab label="View Vendor">
                <mat-card class="mt-2">
                    <mat-card-header>
                        <mat-card-title>View Vendor</mat-card-title>
                    </mat-card-header>
                    <mat-divider></mat-divider>
                </mat-card>
            </mat-tab>

            <mat-tab label="Create Vendor">
                <!-- <div class="container"> -->
                <mat-card class="mt-2">
                    <mat-card-header>
                        <mat-card-title *ngIf="isCreate==0">Vendor Creation</mat-card-title>
                        <mat-card-title *ngIf="isCreate==1">Vendor Update</mat-card-title>
                    </mat-card-header>

                    <mat-divider></mat-divider>
                    <mat-card-content>

                        <form *ngIf="createVendor" [formGroup]="createVendor" (ngSubmit)="addVendor()">

                            <div class="row">
                                <mat-form-field class="col-md-3 form-group">
                                    <mat-label>Category</mat-label>
                                    <mat-select type="text" (selectionChange)="onSelectContractor()" matInput
                                        placeholder="Category" formControlName="Category">
                                        <mat-option value="Contractor">Contractor</mat-option>
                                        <mat-option value="Supplier">Supplier</mat-option>
                                        <mat-option value="Services">Services</mat-option>
                                    </mat-select>
                                    <mat-error *ngIf="myError('Category', 'required')">Category is
                                        required</mat-error>
                                    <mat-error *ngIf="myError('Category', 'pattern')">Please provide a valid
                                        Category</mat-error>
                                </mat-form-field>

                                <mat-form-field class="col-md-3 form-group"
                                    *ngIf="createVendor.value.Category=='Contractor'">
                                    <mat-label>Contractor Type</mat-label>
                                    <mat-select type="text" (selectionChange)="onSelectContractor()" matInput
                                        placeholder="Contractor Type" formControlName="contractorType">
                                        <mat-option value="departmentSupply">Department Supply</mat-option>
                                        <mat-option value="itemRateWork">Item rate work</mat-option>
                                        <mat-option value="SubletedWork">Subleted work</mat-option>
                                    </mat-select>
                                    <mat-error *ngIf="myError('contractorType', 'required')">Contractor Type
                                        is required</mat-error>
                                    <mat-error *ngIf="myError('contractorType', 'pattern')">Please provide a
                                        valid
                                        Contractor Type</mat-error>
                                </mat-form-field>

                                <mat-form-field class="col-md-3 form-group">
                                    <input type="text" formControlName="Name" matInput placeholder="Name" />
                                    <mat-error *ngIf="myError('Name', 'required')">Name is
                                        required</mat-error>
                                    <mat-error *ngIf="myError('Name', 'pattern')">Please provide a valid
                                        Name</mat-error>
                                </mat-form-field>

                                <mat-form-field class="col-md-3 form-group">
                                    <input type="text" formControlName="NatureOfWork" matInput
                                        placeholder="Nature Of Work" />
                                    <mat-error *ngIf="myError('NatureOfWork', 'required')">NatureOfWork is
                                        required</mat-error>
                                    <mat-error *ngIf="myError('NatureOfWork', 'pattern')">Please provide a
                                        valid
                                        NatureOfWork</mat-error>
                                </mat-form-field>

                                <mat-accordion>
                                    <mat-expansion-panel class="mb-3">
                                        <mat-expansion-panel-header>
                                            <mat-panel-title>
                                                <div class="col-md-11">
                                                    Communication details
                                                </div>

                                            </mat-panel-title>
                                        </mat-expansion-panel-header>
                                        <mat-divider></mat-divider>
                                        <div class="row">
                                            <mat-form-field class="col-md-3 form-group ">
                                                <input type="text" placeholder="Country" formControlName="Country"
                                                    matInput>
                                                <mat-error *ngIf="myError('Country', 'required')">Country is
                                                    required</mat-error>
                                                <mat-error *ngIf="myError('Country', 'pattern')">Please
                                                    provide a valid
                                                    Country</mat-error>
                                            </mat-form-field>

                                            <mat-form-field class="col-md-3 form-group ">
                                                <input type="text" formControlName="State" matInput
                                                    placeholder="State">
                                                <mat-error *ngIf="myError('State', 'required')">State is
                                                    required</mat-error>
                                                <mat-error *ngIf="myError('State', 'pattern')">Please
                                                    provide a valid
                                                    State</mat-error>
                                            </mat-form-field>


                                            <mat-form-field class="col-md-3 form-group">
                                                <input type="text" formControlName="City" matInput
                                                    placeholder="City" />
                                                <mat-error *ngIf="myError('City', 'required')">City is
                                                    required</mat-error>
                                                <mat-error *ngIf="myError('City', 'pattern')">Please provide
                                                    a valid
                                                    City</mat-error>
                                            </mat-form-field>

                                            <mat-form-field class="col-md-3 form-group">
                                                <input type="text" formControlName="Street" matInput
                                                    placeholder="Street" />
                                                <mat-error *ngIf="myError('Street', 'required')">Street is
                                                    required</mat-error>
                                                <mat-error *ngIf="myError('Street', 'pattern')">Please
                                                    provide a valid
                                                    Street</mat-error>

                                            </mat-form-field>

                                            <mat-form-field class="col-md-3 form-group">
                                                <input type="text" formControlName="AddressLine1" matInput
                                                    placeholder="Address Line 1" />

                                            </mat-form-field>

                                            <mat-form-field class="col-md-3 form-group">
                                                <input type="text" formControlName="AddressLine2" matInput
                                                    placeholder="Address Line 2" />
                                            </mat-form-field>

                                            <mat-form-field class="col-md-3 form-group">
                                                <input type="text" formControlName="PostalCode" matInput
                                                    placeholder="Postal Code" />
                                                <mat-error *ngIf="myError('PostalCode', 'required')">PostalCode is
                                                    required</mat-error>
                                                <mat-error *ngIf="myError('PostalCode', 'pattern')">Please
                                                    provide a valid
                                                    PostalCode</mat-error>
                                            </mat-form-field>

                                            <mat-form-field class="col-md-3 form-group">
                                                <input type="text" formControlName="ContactPerson" matInput
                                                    placeholder="Contact Person" />
                                                <mat-error
                                                    *ngIf="myError('ContactPerson', 'required')">ContactPerson
                                                    is
                                                    required</mat-error>
                                                <mat-error *ngIf="myError('ContactPerson', 'pattern')">Please
                                                    provide a valid
                                                    ContactPerson</mat-error>
                                            </mat-form-field>

                                            <mat-form-field class="col-md-3 form-group">
                                                <input type="text" formControlName="Phone" matInput
                                                    placeholder="Phone" />
                                                <mat-error *ngIf="myError('Phone', 'required')">Phone is
                                                    required</mat-error>
                                                <mat-error *ngIf="myError('Phone', 'pattern')">Please
                                                    provide a valid
                                                    Phone</mat-error>
                                            </mat-form-field>

                                            <mat-form-field class="col-md-3 form-group">
                                                <input type="text" formControlName="Email" matInput
                                                    placeholder="Email" />
                                                <mat-error *ngIf="myError('Email', 'required')">Email is
                                                    required</mat-error>
                                                <mat-error *ngIf="myError('Email', 'pattern')">Please
                                                    provide a valid
                                                    Email</mat-error>
                                            </mat-form-field>
                                        </div>
                                    </mat-expansion-panel>

                                    <mat-expansion-panel class="mb-3">
                                        <mat-expansion-panel-header>
                                            <mat-panel-title>
                                                <div class="col-md-11">
                                                    Commertial Details
                                                </div>

                                            </mat-panel-title>
                                        </mat-expansion-panel-header>
                                        <mat-divider></mat-divider>
                                        <div class="row">
                                            <mat-form-field class="col-md-3 form-group">
                                                <input type="text" formControlName="PAN" matInput
                                                    placeholder="PAN" />
                                                <mat-error *ngIf="myError('PAN', 'required')">PAN is
                                                    required</mat-error>
                                                <mat-error *ngIf="myError('PAN', 'pattern')">Please provide
                                                    a valid
                                                    PAN</mat-error>
                                            </mat-form-field>

                                            <mat-form-field class="col-md-3 form-group">
                                                <input type="text" formControlName="BankersName" matInput
                                                    placeholder="Bankers Name" />
                                                <mat-error *ngIf="myError('BankersName', 'required')">BankersName
                                                    is
                                                    required</mat-error>
                                                <mat-error *ngIf="myError('BankersName', 'pattern')">Please
                                                    provide a valid
                                                    BankersName</mat-error>
                                            </mat-form-field>

                                            <mat-form-field class="col-md-3 form-group">
                                                <input type="text" formControlName="BranchAddress" matInput
                                                    placeholder="Branch Address" />
                                                <mat-error
                                                    *ngIf="myError('BranchAddress', 'required')">BranchAddress
                                                    is
                                                    required</mat-error>
                                                <mat-error *ngIf="myError('BranchAddress', 'pattern')">Please
                                                    provide a valid
                                                    BranchAddress</mat-error>
                                            </mat-form-field>

                                            <mat-form-field class="col-md-3 form-group">
                                                <input type="text" formControlName="ACNo" matInput
                                                    placeholder="A/C No" />
                                                <mat-error *ngIf="myError('ACNo', 'required')">A/C No is
                                                    required</mat-error>
                                                <mat-error *ngIf="myError('ACNo', 'pattern')">Please provide
                                                    a valid A/C
                                                    No</mat-error>
                                            </mat-form-field>

                                            <mat-form-field class="col-md-3 form-group">
                                                <input type="text" formControlName="MICRcode" matInput
                                                    placeholder="MICR code" />
                                                <mat-error *ngIf="myError('MICRcode', 'required')">MICRcode
                                                    is
                                                    required</mat-error>
                                                <mat-error *ngIf="myError('MICRcode', 'pattern')">Please
                                                    provide a valid
                                                    MICRcode</mat-error>
                                            </mat-form-field>

                                            <mat-form-field class="col-md-3 form-group">
                                                <input type="text" formControlName="ISFC" matInput
                                                    placeholder="ISFC" />
                                                <mat-error *ngIf="myError('ISFC', 'required')">ISFC is
                                                    required</mat-error>
                                                <mat-error *ngIf="myError('ISFC', 'pattern')">Please provide
                                                    a valid
                                                    ISFC</mat-error>
                                            </mat-form-field>
                                            <mat-form-field class="col-md-3 form-group">
                                                <mat-label>GSTIN </mat-label>
                                                <mat-select (selectionChange)="onSelectEvent()" type="text" matInput
                                                    placeholder="GSTINIS" formControlName="GSTINIS">
                                                    <mat-option value="Yes">Yes</mat-option>
                                                    <mat-option value="No">No</mat-option>
                                                </mat-select>
                                                <mat-error *ngIf="myError('GSTINIS', 'required')">GSTIN is
                                                    required</mat-error>
                                                <mat-error *ngIf="myError('GSTINIS', 'pattern')">Please
                                                    provide a valid GSTIN</mat-error>
                                            </mat-form-field>
                                        </div>

                                        <!-- <mat-expansion-panel class="mb-3">
                            <mat-expansion-panel-header>
                                <mat-panel-title>
                                    <div class="col-md-11">
                                        GST
                                    </div>

                                </mat-panel-title>
                            </mat-expansion-panel-header> -->
                                        <!-- <mat-divider></mat-divider> -->

                                        <div class="row mb-3">

                                            <mat-form-field class="col-md-3 form-group"
                                                *ngIf="createVendor.value.GSTINIS=='Yes'">
                                                <input type="text" formControlName="StateGSTIN" matInput
                                                    placeholder="State" />
                                                <mat-error *ngIf="myError('StateGSTIN', 'required')">StateGSTIN is
                                                    required</mat-error>
                                                <mat-error *ngIf="myError('StateGSTIN', 'pattern')">Please
                                                    provide a valid
                                                    StateGSTIN</mat-error>
                                            </mat-form-field>


                                            <mat-form-field class="col-md-3 form-group"
                                                *ngIf="createVendor.value.GSTINIS=='Yes'">
                                                <input type="text" formControlName="GSTIN" matInput
                                                    placeholder="GSTIN" />
                                                <mat-error *ngIf="myError('GSTIN', 'required')">GSTIN is
                                                    required</mat-error>
                                                <mat-error *ngIf="myError('GSTIN', 'pattern')">Please
                                                    provide a valid
                                                    GSTIN</mat-error>
                                            </mat-form-field>

                                            <mat-form-field class="col-md-3 form-group"
                                                *ngIf="createVendor.value.GSTINIS=='Yes'">
                                                <input type="text" formControlName="RegisterAddress" matInput
                                                    placeholder="Register Address" />
                                                <mat-error
                                                    *ngIf="myError('RegisterAddress', 'required')">RegisterAddress
                                                    is
                                                    required</mat-error>
                                                <mat-error *ngIf="myError('RegisterAddress', 'pattern')">Please
                                                    provide a valid
                                                    RegisterAddress</mat-error>
                                            </mat-form-field>


                                            <mat-form-field class="col-md-3 form-group"
                                                *ngIf="createVendor.value.GSTINIS=='Yes'">
                                                <mat-label>Type</mat-label>
                                                <mat-select type="text" formControlName="Type" matInput
                                                    placeholder="Type">
                                                    <mat-option value="Regular">Regular</mat-option>
                                                    <mat-option value="Composit">Composit</mat-option>
                                                    <mat-option value="URD">URD</mat-option>
                                                </mat-select>
                                                <mat-error *ngIf="myError('Type', 'required')">Type is
                                                    required</mat-error>
                                                <mat-error *ngIf="myError('Type', 'pattern')">Please provide
                                                    a valid
                                                    Type</mat-error>
                                            </mat-form-field>

                                            <mat-form-field class="col-md-3 form-group"
                                                *ngIf="createVendor.value.GSTINIS=='Yes'">
                                                <input type="text" formControlName="CityGSTIN" matInput
                                                    placeholder="City" />
                                                <mat-error *ngIf="myError('CityGSTIN', 'required')">CityGSTIN is
                                                    required</mat-error>
                                                <mat-error *ngIf="myError('CityGSTIN', 'pattern')">Please
                                                    provide a valid
                                                    CityGSTIN</mat-error>
                                            </mat-form-field>

                                            <mat-form-field class="col-md-3 form-group"
                                                *ngIf="createVendor.value.GSTINIS=='Yes'">
                                                <input type="text" formControlName="CountryGSTIN" matInput
                                                    placeholder="Country" />
                                                <mat-error *ngIf="myError('CountryGSTIN', 'required')">CountryGSTIN
                                                    is
                                                    required</mat-error>
                                                <mat-error *ngIf="myError('CountryGSTIN', 'pattern')">Please
                                                    provide a valid
                                                    CountryGSTIN</mat-error>
                                            </mat-form-field>

                                            <mat-form-field class="col-md-3 form-group"
                                                *ngIf="createVendor.value.GSTINIS=='Yes'">
                                                <input type="text" formControlName="PostalCodeGSTIN" matInput
                                                    placeholder="Postal Code" />
                                                <mat-error
                                                    *ngIf="myError('PostalCodeGSTIN', 'required')">PostalCodeGSTIN
                                                    is
                                                    required</mat-error>
                                                <mat-error *ngIf="myError('PostalCodeGSTIN', 'pattern')">Please
                                                    provide a valid
                                                    PostalCodeGSTIN</mat-error>
                                            </mat-form-field>

                                            <mat-form-field class="col-md-3 form-group"
                                                *ngIf="createVendor.value.GSTINIS=='Yes'">
                                                <input type="text" formControlName="ContactPersonGSTIN" matInput
                                                    placeholder="Contact Person" />
                                                <mat-error
                                                    *ngIf="myError('ContactPersonGSTIN', 'required')">ContactPersonGSTIN
                                                    is required</mat-error>
                                                <mat-error *ngIf="myError('ContactPersonGSTIN', 'pattern')">Please
                                                    provide a
                                                    valid ContactPersonGSTIN</mat-error>
                                            </mat-form-field>

                                            <mat-form-field class="col-md-3 form-group"
                                                *ngIf="createVendor.value.GSTINIS=='Yes'">
                                                <input type="text" formControlName="PhoneGSTIN" matInput
                                                    placeholder="Phone" />
                                                <mat-error *ngIf="myError('PhoneGSTIN', 'required')">PhoneGSTIN is
                                                    required</mat-error>
                                                <mat-error *ngIf="myError('PhoneGSTIN', 'pattern')">Please
                                                    provide a valid
                                                    PhoneGSTIN</mat-error>
                                            </mat-form-field>

                                            <mat-form-field class="col-md-3 form-group"
                                                *ngIf="createVendor.value.GSTINIS=='Yes'">
                                                <input type="text" formControlName="EmailGSTIN" matInput
                                                    placeholder="Email" />
                                                <mat-error *ngIf="myError('EmailGSTIN', 'required')">EmailGSTIN is
                                                    required</mat-error>
                                                <mat-error *ngIf="myError('EmailGSTIN', 'pattern')">Please
                                                    provide a valid
                                                    EmailGSTIN</mat-error>
                                            </mat-form-field>

                                        </div>

                                        <!-- </mat-expansion-panel> -->
                                    </mat-expansion-panel>

                                </mat-accordion>
                            </div>
                            <div class="row mt-3">
                                <div class="col-md-6">
                                    <button type="submit" class="mat-button-gradient" mat-button>Save
                                        Vendor</button>
                                </div>
                            </div>
                        </form>

                    </mat-card-content>
                </mat-card>
            </mat-tab>
           </mat-tab-group>
           </mat-card>
           </section> 

           

            <!-- <pre>{{createVendor.value | json}}</pre> -->