<section>
    <mat-card>
        <mat-card-header>
            <mat-card-title>Data Master</mat-card-title>
        </mat-card-header>
        <mat-divider></mat-divider>
        <form [formGroup]="deptdesForm" (ngSubmit)="adddeptdes()">
            
                <div class="row">
                    <mat-form-field class="form-group col-md-4">
                        <mat-label>Select Department </mat-label>
                        <mat-select type="text" matInput formControlName="deptname" placeholder="Department">
                            <!-- <mat-option value="projectDesignation">Project Designation</mat-option> --> 
                        </mat-select>
                    </mat-form-field>

                    <mat-form-field class="form-group col-md-3">
                        <mat-label>Department ID</mat-label>
                        <input type="text" matInput placeholder="Department ID" formControlName="deptid">
                    </mat-form-field>
                </div>
                <div>
                    <mat-form-field class="form-group col-md-6">
                        <mat-label>Select Company </mat-label>
                        <mat-select type="text" matInput formControlName="deptcmpname" placeholder="Company">
                            <!-- <mat-option value="studentGroup">Student Group Master</mat-option> --> 
                        </mat-select>
                    </mat-form-field>
                    <mat-form-field class="form-group col-md-6">
                        <mat-label>Manager </mat-label>
                        <mat-select type="text" matInput formControlName="deptmngname" placeholder="Manager Name">
                            <!-- <mat-option value="studentGroup">Student Group Master</mat-option> --> 
                        </mat-select>
                    </mat-form-field>
                </div>

            <div class="row mt-3">
                <div class="col-md-6">
                    <button type="submit" class="mat-button-gradient" mat-button>Save Data Master</button>
                </div>
            </div>
        </form>
    </mat-card>
</section>