<section>
    <!--when update in database Add Employee Scree We have to add "EmpSex,	BloodGroup,	EmergencyContact,	DateOfBirth,	DateOfJoin," -->
    <mat-card>
        <mat-tab-group [selectedIndex]="isActiveTab" (focusChange)="tabIsActive($event,0)">
            <mat-tab label="View Employee">
                <!-- Mat Card -->
                <mat-card class="mt-2">
                    <!-- Header -->
                    <mat-card-header>
                        <mat-card-title>Employee Details</mat-card-title>
                    </mat-card-header>

                    <mat-divider></mat-divider>
                    <!-- Container -->
                    <div class=" table-responsive">
                        <!-- Table Filter -->
                        <mat-form-field class="col-md-3 float-right filter-class">
                            <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
                        </mat-form-field>
                        <!-- Table -->
                        <mat-table [dataSource]="dataSource" matSort>
                            <!-- Update Company Column -->
                            <ng-container matColumnDef="action">
                                <mat-header-cell *matHeaderCellDef mat-sort-header> Actions </mat-header-cell>
                                <mat-cell *matCellDef="let row">
                                    <mat-icon (click)="editEmployee(row)">update</mat-icon>
                                    <mat-icon (click)="deleteMe(row)">delete</mat-icon>
                                </mat-cell>
                            </ng-container>

                            <!-- Company Code Column -->
                            <ng-container matColumnDef="cmpCode">
                                <mat-header-cell *matHeaderCellDef mat-sort-header> Company Code </mat-header-cell>
                                <mat-cell *matCellDef="let row"> {{row.cmpCode}} </mat-cell>
                            </ng-container>

                            <!-- Plant Code Column -->
                            <ng-container matColumnDef="plantCode">
                                <mat-header-cell *matHeaderCellDef mat-sort-header> Plant Code </mat-header-cell>
                                <mat-cell *matCellDef="let row"> {{row.plantCode}} </mat-cell>
                            </ng-container>
                            <!-- bp Code Column -->
                            <ng-container matColumnDef="bpCode">
                                <mat-header-cell *matHeaderCellDef mat-sort-header> Client Code </mat-header-cell>
                                <mat-cell *matCellDef="let row"> {{row.bpCode}} </mat-cell>
                            </ng-container>

                            <!-- bpFName Column -->
                            <ng-container matColumnDef="bpFName">
                                <mat-header-cell *matHeaderCellDef mat-sort-header> Client Name </mat-header-cell>
                                <mat-cell *matCellDef="let row"> {{row.bpFName}} </mat-cell>
                            </ng-container>

                            <!-- Short Key Column -->
                            <ng-container matColumnDef="shortKey">
                                <mat-header-cell *matHeaderCellDef mat-sort-header> Short Key </mat-header-cell>
                                <mat-cell *matCellDef="let row"> {{row.shortKey}} </mat-cell>
                            </ng-container>

                            <!-- Account Group Code Column -->
                            <ng-container matColumnDef="actGroupCode">
                                <mat-header-cell *matHeaderCellDef mat-sort-header>Account Group Code </mat-header-cell>
                                <mat-cell *matCellDef="let row"> {{row.actGroupCode}} </mat-cell>
                            </ng-container>

                            <!-- Company PAN Column -->
                            <ng-container matColumnDef="pan">
                                <mat-header-cell *matHeaderCellDef mat-sort-header>Company PAN </mat-header-cell>
                                <mat-cell *matCellDef="let row"> {{row.pan}} </mat-cell>
                            </ng-container>'phone','email'

                            <!-- GST Number Column -->
                            <ng-container matColumnDef="gstNumber">
                                <mat-header-cell *matHeaderCellDef mat-sort-header>GST Number </mat-header-cell>
                                <mat-cell *matCellDef="let row"> {{row.gstNumber}} </mat-cell>
                            </ng-container>

                            <!-- Street Column -->
                            <ng-container matColumnDef="street">
                                <mat-header-cell *matHeaderCellDef mat-sort-header>Street</mat-header-cell>
                                <mat-cell *matCellDef="let row"> {{row.street}} </mat-cell>
                            </ng-container>

                            <!-- City Column -->
                            <ng-container matColumnDef="city">
                                <mat-header-cell *matHeaderCellDef mat-sort-header>City </mat-header-cell>
                                <mat-cell *matCellDef="let row"> {{row.city}} </mat-cell>
                            </ng-container>

                            <!-- Postal Code Column -->
                            <ng-container matColumnDef="postalCode">
                                <mat-header-cell *matHeaderCellDef mat-sort-header>Postal Code </mat-header-cell>
                                <mat-cell *matCellDef="let row"> {{row.postalCode}} </mat-cell>
                            </ng-container>


                            <!-- Contact Person email Column -->
                            <ng-container matColumnDef="email">
                                <mat-header-cell *matHeaderCellDef mat-sort-header> Email </mat-header-cell>
                                <mat-cell *matCellDef="let row"> {{row.email}} </mat-cell>
                            </ng-container>

                            <!-- Contact Person Phone Column -->
                            <ng-container matColumnDef="phone">
                                <mat-header-cell *matHeaderCellDef mat-sort-header> Phone</mat-header-cell>
                                <mat-cell *matCellDef="let row"> {{row.phone}} </mat-cell>
                            </ng-container>

                            <!-- Create By Column -->
                            <ng-container matColumnDef="createBy">
                                <mat-header-cell *matHeaderCellDef mat-sort-header> Create By </mat-header-cell>
                                <mat-cell *matCellDef="let row"> {{row.createBy}} </mat-cell>
                            </ng-container>

                            <!-- Create On Column -->
                            <ng-container matColumnDef="createOn">
                                <mat-header-cell *matHeaderCellDef mat-sort-header> Create On</mat-header-cell>
                                <mat-cell *matCellDef="let row"> {{row.createOn | date:'yyyy-MM-dd'}} </mat-cell>
                            </ng-container>

                            <!-- Update By Column -->
                            <ng-container matColumnDef="updateBy">
                                <mat-header-cell *matHeaderCellDef mat-sort-header> Update By </mat-header-cell>
                                <mat-cell *matCellDef="let row"> {{row.updateBy}} </mat-cell>
                            </ng-container>

                            <!-- Update On Column -->
                            <ng-container matColumnDef="updateOn">
                                <mat-header-cell *matHeaderCellDef mat-sort-header> Update On</mat-header-cell>
                                <mat-cell *matCellDef="let row"> {{row.updateOn | date:'yyyy-MM-dd'}} </mat-cell>
                            </ng-container>

                            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                            <mat-row *matRowDef="let row; columns: displayedColumns;">
                            </mat-row>
                        </mat-table>

                        <mat-paginator [pageSizeOptions]="[ 10, 25, 50, 100, 500, 1000]"></mat-paginator>
                    </div>



                </mat-card>
            </mat-tab>
            <mat-tab label="Create Employee">
                <mat-card>
                    <mat-card-header>
                        <mat-card-title>Employee Creation</mat-card-title>
                    </mat-card-header>

                    <mat-divider></mat-divider>
                    <mat-card-content>
                        <form *ngIf="createEmployee" [formGroup]="createEmployee" (ngSubmit)="addEmployee()">

                            <div class="row">
                                <ng-select class="col-md-3 form-group " formControlName="cmpCode"
                                    (change)="getPlant($event);" placeholder="Company">
                                    <ng-option *ngFor="let item of CompanyList" [value]="item.cmpCode">
                                        {{item.cmpCode}} {{item.cmpName}}
                                    </ng-option>
                                </ng-select>

                                <ng-select class="col-md-3 form-group " formControlName="plantCode"
                                     placeholder="Plant">
                                    <ng-option *ngFor="let item of PlantList" [value]="item.plantCode">
                                        {{item.plantCode}} {{item.plantName}}
                                    </ng-option>
                                </ng-select>

                                <mat-form-field class="col-md-3 form-group">
                                    <input type="text" matInput placeholder="Employee Code" formControlName="bpCode"
                                        id="bpCode" />
                                    <mat-error *ngIf="myError('bpCode', 'required')">BpCode is required</mat-error>
                                    <mat-error *ngIf="myError('bpCode', 'pattern')">Please provide a valid
                                        bpCode</mat-error>
                                    <mat-error></mat-error>
                                </mat-form-field>

                                <mat-form-field class="col-md-3 form-group">
                                    <input type="text" matInput placeholder="First name" formControlName="bpFName"
                                        id="bpFName" />
                                    <mat-error *ngIf="myError('bpFName', 'required')">Bp fname is required</mat-error>
                                    <mat-error *ngIf="myError('bpFName', 'pattern')">Please provide a valid Bp
                                        fname</mat-error>
                                </mat-form-field>

                                <mat-form-field class="col-md-3 form-group">
                                    <input type="text" matInput placeholder="Middle name" formControlName="bpMName"
                                        id="bpMName" />
                                    <mat-error *ngIf="myError('bpMName', 'required')">Bp mname is required</mat-error>
                                    <mat-error *ngIf="myError('bpMName', 'pattern')">Please provide a valid Bp
                                        mname</mat-error>
                                </mat-form-field>

                                <mat-form-field class="col-md-3 form-group">
                                    <input type="text" matInput placeholder="Last name" formControlName="bpLName"
                                        id="bpLName" />
                                    <mat-error *ngIf="myError('bpLName', 'required')">Bp Lname is required</mat-error>
                                    <mat-error *ngIf="myError('bpLName', 'pattern')">Please provide a valid Bp
                                        lname</mat-error>
                                </mat-form-field>

                                <mat-form-field class="col-md-3 form-group">
                                    <input type="text" matInput placeholder="Short Key" formControlName="shortKey"
                                        id="shortKey" />
                                    <mat-error *ngIf="myError('shortKey', 'required')">Short Key is required</mat-error>
                                    <mat-error *ngIf="myError('shortKey', 'pattern')">Please provide a valid Short Key
                                    </mat-error>
                                </mat-form-field>

                                <mat-form-field class="col-md-3 form-group">
                                    <input type="text" matInput placeholder="PAN" formControlName="pan" id="pan" />
                                    <mat-error *ngIf="myError('pan', 'required')">PAN is required</mat-error>
                                    <mat-error *ngIf="myError('pan', 'pattern')">Please provide a valid PAN </mat-error>
                                </mat-form-field>

                                <mat-form-field class="col-md-3 form-group">
                                    <input type="text" matInput placeholder="GST Number" formControlName="gstNumber"
                                        id="gstNumber" />
                                    <mat-error *ngIf="myError('gstNumber', 'required')">GST number is
                                        required</mat-error>
                                    <mat-error *ngIf="myError('gstNumber', 'pattern')">Please provide a valid GST number
                                    </mat-error>
                                </mat-form-field>

                                <ng-select class="col-md-3 form-group " formControlName="countryCode"
                                    (change)="getState($event);" placeholder="Country">
                                    <ng-option *ngFor="let item of CountryList" [value]="item.countryCode">
                                        {{item.countryCode}} {{item.countryName}}
                                    </ng-option>
                                </ng-select>

                                <ng-select class="col-md-3 form-group " formControlName="stateCode" placeholder="State">
                                    <ng-option *ngFor="let item of StateList" [value]="item.stateCode">
                                        {{item.stateCode}} {{item.stateName}}
                                    </ng-option>
                                </ng-select>

                                <mat-form-field class="col-md-3 ">
                                    <input type="text" matInput placeholder="City" formControlName="city" id="city" />
                                    <mat-error *ngIf="myError('city', 'required')">City is required</mat-error>
                                    <mat-error *ngIf="myError('city', 'pattern')">Please provide a valid
                                        city</mat-error>
                                </mat-form-field>

                                <mat-form-field class="col-md-3 ">
                                    <input type="text" matInput placeholder="Street" formControlName="street"
                                        id="street" />
                                    <mat-error *ngIf="myError('street', 'required')">Street is required</mat-error>
                                    <mat-error *ngIf="myError('street', 'pattern')">Please provide a valid
                                        street</mat-error>
                                </mat-form-field>

                                <mat-form-field class="col-md-3 ">
                                    <input type="text" matInput placeholder="Address Line 1"
                                        formControlName="addressLine1" id="addressLine1" />
                                    <mat-error *ngIf="myError('addressLine1', 'required')">Addressline1 is
                                        required</mat-error>
                                    <mat-error *ngIf="myError('addressLine1', 'pattern')">Please provide a valid
                                        addressline1</mat-error>
                                </mat-form-field>

                                <mat-form-field class="col-md-3 ">
                                    <input type="text" matInput placeholder="Address Line 2"
                                        formControlName="addressLine2" />
                                    <mat-error *ngIf="myError('addressLine2', 'required')">Addressline2 is
                                        required</mat-error>
                                    <mat-error *ngIf="myError('addressLine2', 'pattern')">Please provide a valid
                                        addressLine2</mat-error>
                                </mat-form-field>

                                <mat-form-field class="col-md-3 ">
                                    <input type="text" matInput placeholder="Postal Code" formControlName="postalCode"
                                        id="postalCode" />
                                    <mat-error *ngIf="myError('postalCode', 'required')">Postal code is
                                        required</mat-error>
                                    <mat-error *ngIf="myError('postalCode', 'pattern')">Please provide a valid postal
                                        code</mat-error>
                                </mat-form-field>

                                <mat-form-field class="col-md-3 ">
                                    <input type="text" matInput placeholder="Email ID" formControlName="email"
                                        id="email" />
                                    <mat-error *ngIf="myError('email', 'required')">Email ID is required</mat-error>
                                    <mat-error *ngIf="myError('email', 'maxlength')"></mat-error>
                                    <mat-error *ngIf="myError('email', 'pattern')">Please provide a valid Email
                                        ID</mat-error>
                                </mat-form-field>

                                <mat-form-field class="col-md-3 ">
                                    <input type="text" matInput placeholder="Phone" formControlName="phone"
                                        id="phone" />
                                    <mat-error *ngIf="myError('phone', 'required')">Phone is required</mat-error>
                                    <mat-error *ngIf="myError('phone', 'maxlength')"></mat-error>
                                    <mat-error *ngIf="myError('phone', 'pattern')">Please provide a valid
                                        Phone</mat-error>
                                </mat-form-field>

                            </div>
                            <div class="row mt-3">
                                <div class="col-md-6">
                                    <button type="submit" class="mat-button-gradient" *ngIf="isCreate==0"
                                        mat-button>Save Employee</button>
                                    <button type="submit" class="mat-button-gradient" *ngIf="isCreate==1"
                                        mat-button>Update Employee</button>
                                </div>
                            </div>
                        </form>
                    </mat-card-content>
                </mat-card>
            </mat-tab>
        </mat-tab-group>
    </mat-card>
</section>


<!-- Delete Dialog -->
<ng-template #deleteDialog>

    <mat-dialog-content>
        <div class="card-body" style="align-content: center;">
            <i class="material-icons" style="font-size: 80px; color: #FFBF00; margin-left: 30%;">
                error_outline
            </i>
            <h5 class="card-title" style="text-align: center;"><strong>Are You Sure?</strong></h5>
            <h6 class="card-title" style="text-align: center;">You won't able to revert this!</h6>
        </div>
    </mat-dialog-content>
    <mat-dialog-actions align="end" style="margin-bottom: 0.5%;">
        <button mat-button matDialogClose color="primary" (click)="deleteEmployee()">Yes, delete it!</button>
        <button mat-button matDialogClose color="primary">Cancel</button>
    </mat-dialog-actions>
</ng-template>