mat-card-title {
    font-size: 95% !important;
    font-weight: 950 !important;
    color: gray;
}

mat-sidenav-content {
    margin-top: 0%;
}

mat-panel-title {
    font-size: 95% !important;
    font-weight: 700 !important;
    color: gray !important;
}

mat-divider {
    margin-top: -.5% !important;
}

mat-expansion-panel{
    background-color: #F8F9F9  !important;
}
mat-expansion-panel-header{
    background-color: white !important; 
}
 .mat-card-login   {
     display: table-cell !important;
     vertical-align: middle !important;
     margin: 0 auto !important; 
     margin-top: 10% !important;
     box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19) !important;    
   }
 
