<section>
    <mat-tab-group [selectedIndex]="isActiveTab" (focusChange)="tabIsActive($event,0)">
        <mat-tab label=" View Project Master">
            <mat-card class="mt-2">
                <mat-card-header>
                    <mat-card-title> View Project Master</mat-card-title>
                </mat-card-header>
                <mat-divider></mat-divider>
                <div class="table-responsive">
                    <!-- Table Filter -->
                    <mat-form-field class="col-md-3 float-right filter-class">
                        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
                    </mat-form-field>
                    <mat-table mat-table [dataSource]="dataSource">

                        <!-- Position Column -->
                        <ng-container matColumnDef="position">
                            <mat-header-cell mat-header-cell *matHeaderCellDef> Action </mat-header-cell>
                            <mat-cell *matCellDef="let row">
                                <mat-icon (click)="editCompany(row)">update</mat-icon>
                                <mat-icon (click)="viewCompany(row)">remove_red_eye</mat-icon>
                                <mat-icon (click)="deleteMe(row)">delete</mat-icon>
                            </mat-cell>
                        </ng-container>

                        <!-- Name Column -->
                        <ng-container matColumnDef="name">
                            <mat-header-cell mat-header-cell *matHeaderCellDef>Company Code </mat-header-cell>
                            <mat-cell mat-cell *matCellDef="let row"> {{row.name}} </mat-cell>
                        </ng-container>

                        <!-- Weight Column -->
                        <ng-container matColumnDef="weight">
                            <mat-header-cell mat-header-cell *matHeaderCellDef> Company Name </mat-header-cell>
                            <mat-cell mat-cell *matCellDef="let row"> {{row.weight}} </mat-cell>
                        </ng-container>

                        <!-- Symbol Column -->
                        <ng-container matColumnDef="symbol">
                            <mat-header-cell mat-header-cell *matHeaderCellDef> Project Master </mat-header-cell>
                            <mat-cell mat-cell *matCellDef="let row"> {{row.symbol}} </mat-cell>
                        </ng-container>
                        \
                        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                        <mat-row *matRowDef="let row; columns: displayedColumns;">
                        </mat-row>
                    </mat-table>

                    <mat-paginator [pageSizeOptions]="[ 10, 25, 50, 100, 500, 1000]"></mat-paginator>

                </div>
            </mat-card>
        </mat-tab>
        <mat-tab label="Project Master">
            <mat-card class="mb-5">
                <mat-card-header>
                    <mat-card-title *ngIf="isCreate==0">Project Master</mat-card-title>
                    <mat-card-title *ngIf="isCreate==1">Company Update</mat-card-title>
                </mat-card-header>
                <mat-divider></mat-divider>

                <form *ngIf="master" [formGroup]="master" (ngSubmit)="addmasterdata(master.value)">
                    <div class="row">

                        <!-- <ng-select [items]="masterData"
                                           bindLabel="name"
                                           placeholder="Select Type"
                                           formControlName="masterDataType">
                                </ng-select> -->


                        <mat-form-field class="col-md-6 form-group">
                            <mat-label>Select project master</mat-label>
                            <mat-select formControlName="masterDataType" placeholder="Select Type"
                                (selectionChange)="execution()">
                                <!-- <ng-option *ngFor="let item of CompanyList" [value]="item.cmpCode">
                                        {{item.cmpCode}} {{item.cmpName}}
                                    </ng-option> -->
                                <!-- <ng-option *ngFor="let item of masterData let i=index">
                                        <div> {{item.projectExecution}}</div>
                                        <div>{{item.projectType}}</div>
                                        <div>{{item.projectDesignation}}</div>
                                        </ng-option> -->
                                <mat-option value="projectExecution">Project Execution</mat-option>
                                <mat-option value="projectType">Project Type</mat-option>
                                <mat-option value="projectDesignation">Project Designation</mat-option>
                            </mat-select>
                            <mat-error>Please select the project master</mat-error>
                        </mat-form-field>
                        <div class="row" *ngIf="master.value.masterDataType=='projectExecution'">
                            <div class="col-md-6 form-group ">
                                <ng-select formControlName="cmpCode" (change)="getCompany($event);"
                                    placeholder="Company  Code">
                                    <ng-option *ngFor="let item of CompanyList" [value]="item.cmpCode">
                                        {{item.cmpCode}} {{item.cmpName}}
                                    </ng-option>
                                </ng-select>
                            </div>
                            <mat-form-field class="form-group col-md-6">
                                <mat-label>Execution Name</mat-label>
                                <input type="text" matInput placeholder="Execution  Name"
                                    formControlName="executionName">
                                <mat-error>Execution name is required</mat-error>
                            </mat-form-field>
                        </div>
                        <div class="row" *ngIf="master.value.masterDataType=='projectType'">
                            <div class="col-md-6 form-group ">
                                <ng-select formControlName="cmpCode" (change)="getCompany($event);"
                                placeholder="Company  Code">
                                <ng-option *ngFor="let item of CompanyList" [value]="item.cmpCode">
                                    {{item.cmpCode}} {{item.cmpName}}
                                </ng-option>
                            </ng-select>
                            </div>
                            <mat-form-field class="form-group col-md-6">
                                <mat-label>Project Type Name</mat-label>
                                <input type="text" matInput placeholder="Project Type Name"
                                    formControlName="projectTypeName">
                                <mat-error>Project type name is required</mat-error>
                            </mat-form-field>
                        </div>
                        <div class="row" *ngIf="master.value.masterDataType=='projectDesignation'">
                            <div class="col-md-3 form-group ">
                                <ng-select formControlName="cmpCode" (change)="getCompany($event);"
                                    placeholder="Company  Code">
                                    <ng-option *ngFor="let item of CompanyList" [value]="item.cmpCode">
                                        {{item.cmpCode}} {{item.cmpName}}
                                    </ng-option>
                                </ng-select>
                            </div>
                            <mat-form-field class="form-group col-md-3">
                                <mat-label>Designation Code</mat-label>
                                <input type="text" matInput placeholder="Designation Code"
                                    formControlName="DesignationCode">
                                <mat-error>Designation Code is required</mat-error>
                            </mat-form-field>
                            <mat-form-field class="form-group col-md-3">
                                <mat-label>Designation Name</mat-label>
                                <input type="text" matInput placeholder="Designation Name"
                                    formControlName="Designation">
                                <mat-error>Designation Name is required</mat-error>
                            </mat-form-field>
                            <mat-form-field class="form-group col-md-3">
                                <mat-label>Status</mat-label>
                                <mat-select type="text" matInput placeholder="Status" formControlName="status">
                                    <mat-option value="1">Active</mat-option>
                                    <mat-option value="0">Deactive</mat-option>
                                </mat-select>
                                <mat-error>Status is required</mat-error>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="row mt-3 mb-5">
                        <div class="col-md-6 mb-5">
                            <button type="submit" class="mat-button-gradient" mat-button>Save Project Master </button>
                        </div>
                    </div>
                </form>
            </mat-card>
        </mat-tab>
    </mat-tab-group>
</section>