<section style="height:630px;width:1230px;margin:10px;">
    <mat-card style="height:620px">
        <mat-card-header>
            <mat-card-title>Data Master</mat-card-title>
        </mat-card-header>
        <mat-divider></mat-divider>
        <br>
        <form [formGroup]="datamaster" (ngSubmit)="Adddatamaster()">

            <div class="row " style="padding-left:5px;">
                <mat-form-field class="form-group col-md-6">
                    <mat-label>Select Data Master</mat-label>
                    <mat-select type="text" matInput formControlName="masterType" (selectionChange)="datamastertype()"
                        placeholder="Data Master">
                        <mat-option value="projectDesignation">Project Designation</mat-option>
                        <mat-option value="departmentDesignation">Department Designation </mat-option>
                        <mat-option value="empDesignation"> Employee Designation </mat-option>
                        <!-- <mat-option value="accountGroup">Account Group Master</mat-option>
                        <mat-option value="studentGroup">Student Group Master</mat-option> -->
                    </mat-select>
                </mat-form-field>

                <div class="row " *ngIf="datamaster.value.masterType=='projectDesignation'">
                    <!-- <div class="card ex1" style="border-top: none;border-left: none;"> -->

                        <div class="row">
                            <mat-form-field class="form-group col-md-2">
                                <mat-label>Project ID</mat-label>
                                <input type="text" matInput placeholder="Project ID" formControlName="projID">
                                <mat-error> Project ID is required</mat-error>
                            </mat-form-field>

                            <mat-form-field class="form-group col-md-3">
                                <mat-label>Project Description</mat-label>
                                <mat-select type="text" matInput formControlName="projdesc"
                                    placeholder="Project Description">
                                    <!-- <mat-option value="pune">Pune</mat-option> -->
                                </mat-select>
                            </mat-form-field>


                            <mat-form-field class="form-group col-md-3">
                                <mat-label>Client ID</mat-label>
                                <input type="text" matInput placeholder="Client ID" formControlName="projcliID">
                            </mat-form-field>

                            <mat-form-field class="form-group col-md-3">
                                <mat-label>Client Name</mat-label>
                                <mat-select type="text" matInput formControlName="projcliname"
                                    placeholder="Client Name">
                                    <!-- <mat-option value="pune">Pune</mat-option> -->
                                </mat-select>
                            </mat-form-field>

                        </div>

                        <div class="row">
                            <mat-form-field class="form-group col-md-2" >
                                <mat-label>Project Manager ID</mat-label>
                                <input type="text" matInput placeholder="Company Code" formControlName="projMngID">
                            </mat-form-field>

                            <mat-form-field class="form-group col-md-3" style="margin-left:5px;margin-right:5px;">
                                <mat-label>Project Manager Name</mat-label>
                                <mat-select type="text" matInput formControlName="projMngname"
                                    placeholder="Project Manager name">
                                    <!-- <mat-option value="pune">Pune</mat-option> -->
                                </mat-select>
                            </mat-form-field>

                            <mat-form-field class="col-md-3 form-group" appearance="fill">
                                <mat-label>Start Date</mat-label>
                                <input formControlName="projStartDate" matInput [matDatepicker]="picker">
                                <mat-hint>MM/DD/YYYY</mat-hint>
                                <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                                <mat-datepicker #picker></mat-datepicker>
                            </mat-form-field>
                            <mat-form-field class="col-md-3 form-group" appearance="fill" style="margin-left:5px;">
                                <mat-label>End Date</mat-label>
                                <input formControlName="projEndDate" matInput [matDatepicker]="picker">
                                <mat-hint>MM/DD/YYYY</mat-hint>
                                <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                                <mat-datepicker #picker></mat-datepicker>
                            </mat-form-field>

                        </div>
                        <div class="row" >
                            <mat-form-field class="form-group col-md-2">
                                <mat-label>Employee ID</mat-label>
                                <input type="text" matInput placeholder="Employee Id" formControlName="projempID">
                            </mat-form-field>
                            <mat-form-field class="form-group col-md-3">
                                <mat-label>Employee Name</mat-label>
                                <mat-select type="text" matInput formControlName="projempname"
                                    placeholder="Employee Name">
                                    <!-- <mat-option value="pune">Pune</mat-option> -->
                                </mat-select>
                            </mat-form-field>
                            <mat-form-field class="form-group col-md-3">
                                <mat-label>Department</mat-label>
                                <input type="text" matInput placeholder="Department Name"
                                    formControlName="projdeptname">
                            </mat-form-field>
                        </div>
                        <!-- <mat-form-field class="form-group col-md-3">
                        <mat-label>Status</mat-label>
                        <mat-select type="text" matInput placeholder="Status" formControlName="status">
                            <mat-option value="1">Active</mat-option>
                            <mat-option value="0">Deactive</mat-option>
                        </mat-select>
                        <mat-error>Status is required</mat-error>
                    </mat-form-field> -->
                    <!-- </div> -->
                </div>
                <!-- /////////////////////////// DEPARTMENT MASTER //////////////////////// -->

                <div class="row" *ngIf="datamaster.value.masterType=='departmentDesignation'">
                    <div class="row">
                        <mat-form-field class="form-group col-md-4">
                            <mat-label>Select Department </mat-label>
                            <mat-select type="text" matInput formControlName="deptname" placeholder="Department">
                                <!-- <mat-option value="projectDesignation">Project Designation</mat-option> --> -->
                            </mat-select>
                        </mat-form-field>

                        <mat-form-field class="form-group col-md-3">
                            <mat-label>Department ID</mat-label>
                            <input type="text" matInput placeholder="Department ID" formControlName="deptid">
                        </mat-form-field>
                    </div>
                    <div>
                        <mat-form-field class="form-group col-md-6">
                            <mat-label>Select Company </mat-label>
                            <mat-select type="text" matInput formControlName="deptcmpname" placeholder="Company">
                                <!-- <mat-option value="studentGroup">Student Group Master</mat-option> --> -->
                            </mat-select>
                        </mat-form-field>
                        <mat-form-field class="form-group col-md-6">
                            <mat-label>Manager </mat-label>
                            <mat-select type="text" matInput formControlName="deptmngname" placeholder="Manager Name">
                                <!-- <mat-option value="studentGroup">Student Group Master</mat-option> --> -->
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <!-- <mat-form-field class="form-group col-md-3">
                        <mat-label>Status</mat-label>
                        <mat-select type="text" matInput placeholder="Status" formControlName="status">
                            <mat-option value="1">Active</mat-option>
                            <mat-option value="0">Deactive</mat-option>
                        </mat-select>
                        <mat-error>Status is required</mat-error>
                    </mat-form-field> -->
                </div>

                <!-- ////////////////////////////////// employee designation ////////////////////// -->

                <div class="row" *ngIf="datamaster.value.masterType=='empDesignation'">
                    <div class="row">
                        <mat-form-field class="form-group col-md-3">
                            <mat-label>Employee ID</mat-label>
                            <input type="text" matInput placeholder="Employee ID" formControlName="dempid">
                        </mat-form-field>

                        <mat-form-field class="form-group col-md-3">
                            <mat-label>Employee Name</mat-label>
                            <mat-select type="text" matInput placeholder="Name" formControlName="dempname">
                                <!-- <mat-option value="1">Active</mat-option> -->
                            </mat-select>
                            <mat-error>Employee Name is required</mat-error>
                        </mat-form-field>

                        <mat-form-field class="form-group col-md-3">
                            <mat-label>Employee ID</mat-label>
                            <input type="text" matInput placeholder="Employee ID" formControlName="empemailid">
                        </mat-form-field>

                        <mat-form-field class="form-group col-md-3">
                            <mat-label>Company Name</mat-label>
                            <mat-select type="text" matInput placeholder="Name" formControlName="empcmpname">
                                <!-- <mat-option value="1">Active</mat-option> -->
                            </mat-select>
                            <mat-error>Comapany Name is required</mat-error>
                        </mat-form-field>
                    </div>
                    <div class="row">
                        <mat-form-field class="form-group col-md-3">
                            <mat-label>Select Department </mat-label>
                            <mat-select type="text" matInput formControlName="empdeptname" placeholder="Department">
                                <!-- <mat-option value="projectDesignation">Project Designation</mat-option> --> -->
                            </mat-select>
                        </mat-form-field>

                        <mat-form-field class="form-group col-md-3">
                            <mat-label>Department ID</mat-label>
                            <input type="text" matInput placeholder="Department ID" formControlName="empdeptid">
                        </mat-form-field>

                        <mat-form-field class="form-group col-md-3">
                            <mat-label>Manager ID</mat-label>
                            <input type="text" matInput placeholder="Manager ID" formControlName="empmngid">
                        </mat-form-field>
                        <mat-form-field class="form-group col-md-3">
                            <mat-label>Manager Name</mat-label>
                            <input type="text" matInput placeholder="Manager Name" formControlName="empmngname">
                        </mat-form-field>
                    </div>
                    <div class="row">
                        <mat-form-field class="form-group col-md-3">
                            <mat-label>Status</mat-label>
                            <mat-select type="text" matInput placeholder="Status" formControlName="status">
                                <mat-option value="1">Active</mat-option>
                                <mat-option value="0">Deactive</mat-option>
                            </mat-select>
                            <mat-error>Status is required</mat-error>
                        </mat-form-field>
                    </div>

                </div>


                <div class="row mt-3">
                    <div class="col-md-6"  >
                        <button type="submit"  mat-button style="background-color:#343a40;color:#e8ebed;">Save Data Master</button>
                    </div>
                </div>
            </div>
        </form>
    </mat-card>
</section>