<section>
    <mat-card>
        <mat-tab-group [selectedIndex]="isActiveTab" (focusChange)="tabIsActive($event,0)">
            <mat-tab label="View Consultant">
                <mat-card class="mt-2">
                    <mat-card-header>
                        <mat-card-title>View Consultant</mat-card-title>
                    </mat-card-header>
                    <mat-divider></mat-divider>
                    <div class=" table-responsive">
                        <!-- Table Filter -->
                        <mat-form-field class="col-md-3 float-right filter-class">
                            <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
                        </mat-form-field>
                        <!-- Table -->
                        <mat-table [dataSource]="dataSource" matSort>
                            <!-- Update Company Column -->
                            <ng-container matColumnDef="action">
                                <mat-header-cell *matHeaderCellDef mat-sort-header> Actions </mat-header-cell>
                                <mat-cell *matCellDef="let row">
                                    <mat-icon (click)="editConsultant(row)">update</mat-icon>
                                    <mat-icon (click)="viewConsultant(row)">remove_red_eye</mat-icon>
                                    <mat-icon (click)="deleteCon(row)">delete</mat-icon>
                                </mat-cell>
                            </ng-container>


                            <ng-container matColumnDef="bpFName">
                                <mat-header-cell *matHeaderCellDef mat-sort-header>Name</mat-header-cell>
                                <mat-cell *matCellDef="let row"> {{row.bpFName}} </mat-cell>
                            </ng-container>

                            <ng-container matColumnDef="actGroupCode">
                                <mat-header-cell *matHeaderCellDef mat-sort-header> ACT Group Name </mat-header-cell>
                                <mat-cell *matCellDef="let row"> {{row.actGroupCode}} </mat-cell>
                            </ng-container>

                            <ng-container matColumnDef="pan">
                                <mat-header-cell *matHeaderCellDef mat-sort-header> PAN </mat-header-cell>
                                <mat-cell *matCellDef="let row"> {{row.pan}} </mat-cell>
                            </ng-container>

                            <ng-container matColumnDef="addressLine1">
                                <mat-header-cell *matHeaderCellDef mat-sort-header>Address Line1 </mat-header-cell>
                                <mat-cell *matCellDef="let row"> {{row.addressLine1}} </mat-cell>
                            </ng-container>

                            <ng-container matColumnDef="addressLine2">
                                <mat-header-cell *matHeaderCellDef mat-sort-header>Address Line2 </mat-header-cell>
                                <mat-cell *matCellDef="let row"> {{row.addressLine2}} </mat-cell>
                            </ng-container>

                            <ng-container matColumnDef="street">
                                <mat-header-cell *matHeaderCellDef mat-sort-header>Street </mat-header-cell>
                                <mat-cell *matCellDef="let row"> {{row.street}} </mat-cell>
                            </ng-container>

                            <ng-container matColumnDef="city">
                                <mat-header-cell *matHeaderCellDef mat-sort-header>City </mat-header-cell>
                                <mat-cell *matCellDef="let row"> {{row.city}} </mat-cell>
                            </ng-container>

                            <ng-container matColumnDef="postalCode">
                                <mat-header-cell *matHeaderCellDef mat-sort-header>Postal Code </mat-header-cell>
                                <mat-cell *matCellDef="let row"> {{row.postalCode}} </mat-cell>
                            </ng-container>


                            <ng-container matColumnDef="email">
                                <mat-header-cell *matHeaderCellDef mat-sort-header> Email </mat-header-cell>
                                <mat-cell *matCellDef="let row"> {{row.email}} </mat-cell>
                            </ng-container>


                            <ng-container matColumnDef="phone">
                                <mat-header-cell *matHeaderCellDef mat-sort-header> Phone</mat-header-cell>
                                <mat-cell *matCellDef="let row"> {{row.phone}} </mat-cell>
                            </ng-container>


                            <ng-container matColumnDef="createBy">
                                <mat-header-cell *matHeaderCellDef mat-sort-header> Create By </mat-header-cell>
                                <mat-cell *matCellDef="let row"> {{row.createBy}} </mat-cell>
                            </ng-container>


                            <ng-container matColumnDef="createOn">
                                <mat-header-cell *matHeaderCellDef mat-sort-header> Create On</mat-header-cell>
                                <mat-cell *matCellDef="let row"> {{row.createOn | date:'yyyy-MM-dd'}} </mat-cell>
                            </ng-container>

                            <ng-container matColumnDef="updateBy">
                                <mat-header-cell *matHeaderCellDef mat-sort-header> Update By </mat-header-cell>
                                <mat-cell *matCellDef="let row"> {{row.updateBy}} </mat-cell>
                            </ng-container>


                            <ng-container matColumnDef="updateOn">
                                <mat-header-cell *matHeaderCellDef mat-sort-header> Update On</mat-header-cell>
                                <mat-cell *matCellDef="let row"> {{row.updateOn | date:'yyyy-MM-dd'}} </mat-cell>
                            </ng-container>

                            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                            <mat-row *matRowDef="let row; columns: displayedColumns;">
                            </mat-row>
                        </mat-table>

                        <mat-paginator [pageSizeOptions]="[ 10, 25, 50, 100, 500, 1000]"></mat-paginator>
                    </div>

                   
                </mat-card>
            </mat-tab>

            <mat-tab label="Create Consultant">
                <!-- <div class="container"> -->
                <mat-card class="mt-2">
                    <mat-card-header>
                        <mat-card-title *ngIf="isCreate==0">Consultant Creation</mat-card-title>
                        <mat-card-title *ngIf="isCreate==1">Consultant Update</mat-card-title>
                    </mat-card-header>

                    <mat-divider></mat-divider>
                    <mat-card-content>

                        <form *ngIf="createConsultant" [formGroup]="createConsultant"
                            (ngSubmit)="addConsultant(createConsultant.value)">

                            <div class="row">
                            
                                <ng-select class="col-md-3 form-group " formControlName="cmpCode"
                                    (change)="getPlant($event);" placeholder="Company">
                                    <ng-option *ngFor="let item of CompanyList" [value]="item.cmpCode">
                                        {{item.cmpCode}} {{item.cmpName}}
                                    </ng-option>
                                </ng-select>

                                <ng-select class="col-md-3 form-group " formControlName="plantCode"
                                    placeholder="Plant">
                                    <ng-option *ngFor="let item of PlantList" [value]="item.plantCode">
                                        {{item.plantCode}} {{item.plantName}}
                                    </ng-option>
                                </ng-select>
                                
                                <mat-form-field class="col-md-3 form-group">
                                    <input type="text" matInput placeholder="Consultant Code" formControlName="bpCode"
                                        id="bpCode" />
                                    <mat-error *ngIf="myError('bpCode', 'required')">Consultant code is required</mat-error>
                                    <mat-error *ngIf="myError('bpCode', 'pattern')">Please provide a valid
                                        Consultant code</mat-error>
                                    <mat-error></mat-error>
                                </mat-form-field>

                                <mat-form-field class="col-md-3 form-group">
                                    <input type="text" matInput placeholder="Consultant Name" formControlName="bpFName"
                                        id="bpFName" />
                                    <mat-error *ngIf="myError('bpFName', 'required')">Consultant Name is
                                        required</mat-error>
                                    <mat-error *ngIf="myError('bpFName', 'pattern')">Please provide a valid
                                        Consultant
                                        Name</mat-error>
                                </mat-form-field>

                                <mat-form-field class="col-md-3 form-group">
                                    <input type="text" matInput placeholder="Short Key" formControlName="shortKey"
                                        id="shortKey" />
                                    <mat-error *ngIf="myError('shortKey', 'required')">Short Key is
                                        required</mat-error>
                                    <mat-error *ngIf="myError('shortKey', 'pattern')">Please provide a valid Short
                                        Key
                                    </mat-error>
                                </mat-form-field>

                                <mat-form-field class="col-md-3 form-group">
                                    <input type="text" matInput placeholder="PAN" formControlName="pan" id="pan" />
                                    <mat-error *ngIf="myError('pan', 'required')">PAN is required</mat-error>
                                    <mat-error *ngIf="myError('pan', 'pattern')">Please provide a valid PAN
                                    </mat-error>
                                </mat-form-field>

                                <mat-form-field class="col-md-3 form-group">
                                    <input type="text" matInput placeholder="GST Number" formControlName="gstNumber"
                                        id="gstNumber" />
                                    <mat-error *ngIf="myError('gstNumber', 'required')">GST number is
                                        required</mat-error>
                                    <mat-error *ngIf="myError('gstNumber', 'pattern')">Please provide a valid GST
                                        number
                                    </mat-error>
                                </mat-form-field>

                               

                                <ng-select class="col-md-3 form-group " formControlName="countryCode"
                                    (change)="getState($event);" placeholder="Country">
                                    <ng-option *ngFor="let item of CountryList" [value]="item.countryCode">
                                        {{item.countryCode}} {{item.countryName}}
                                    </ng-option>
                                </ng-select>

                                <ng-select class="col-md-3 form-group " formControlName="stateCode" placeholder="State">
                                    <ng-option *ngFor="let item of StateList" [value]="item.stateCode">
                                        {{item.stateCode}} {{item.stateName}}
                                    </ng-option>
                                </ng-select>
                                
                                <mat-form-field class="col-md-3 ">
                                    <input type="text" matInput placeholder="City" formControlName="city" id="city" />
                                    <mat-error *ngIf="myError('city', 'required')">City is required</mat-error>
                                    <mat-error *ngIf="myError('city', 'pattern')">Please provide a valid
                                        city</mat-error>
                                </mat-form-field>

                                <mat-form-field class="col-md-3 ">
                                    <input type="text" matInput placeholder="Street" formControlName="street"
                                        id="street" />
                                    <mat-error *ngIf="myError('street', 'required')">Street is required</mat-error>
                                    <mat-error *ngIf="myError('street', 'pattern')">Please provide a valid
                                        street</mat-error>
                                </mat-form-field>

                                <mat-form-field class="col-md-3 ">
                                    <input type="text" matInput placeholder="Address Line 1"
                                        formControlName="addressLine1" id="addressLine1" />
                                    <mat-error *ngIf="myError('addressLine1', 'required')">Addressline1 is
                                        required</mat-error>
                                    <mat-error *ngIf="myError('addressLine1', 'pattern')">Please provide a valid
                                        addressline1</mat-error>
                                </mat-form-field>

                                <mat-form-field class="col-md-3 ">
                                    <input type="text" matInput placeholder="Address Line 2"
                                        formControlName="addressLine2" />
                                    <mat-error *ngIf="myError('addressLine2', 'required')">Addressline2 is
                                        required</mat-error>
                                    <mat-error *ngIf="myError('addressLine2', 'pattern')">Please provide a valid
                                        addressLine2</mat-error>
                                </mat-form-field>

                                <mat-form-field class="col-md-3 ">
                                    <input type="text" matInput placeholder="Postal Code" formControlName="postalCode"
                                        id="postalCode" />
                                    <mat-error *ngIf="myError('postalCode', 'required')">Postal code is
                                        required</mat-error>
                                    <mat-error *ngIf="myError('postalCode', 'pattern')">Please provide a valid
                                        postal
                                        code</mat-error>
                                </mat-form-field>

                                <mat-form-field class="col-md-3 ">
                                    <input type="text" matInput placeholder="Email ID" formControlName="email"
                                        id="email" />
                                    <mat-error *ngIf="myError('email', 'required')">Email ID is required</mat-error>
                                    <mat-error *ngIf="myError('email', 'maxlength')"></mat-error>
                                    <mat-error *ngIf="myError('email', 'pattern')">Please provide a valid Email
                                        ID</mat-error>
                                </mat-form-field>

                                <mat-form-field class="col-md-3 ">
                                    <input type="text" matInput placeholder="Phone" formControlName="phone"
                                        id="phone" />
                                    <mat-error *ngIf="myError('phone', 'required')">Phone is required</mat-error>
                                    <mat-error *ngIf="myError('phone', 'maxlength')"></mat-error>
                                    <mat-error *ngIf="myError('phone', 'pattern')">Please provide a valid
                                        Phone</mat-error>
                                </mat-form-field>

                            </div>
                            <div class="row mt-3">
                                <div class="col-md-6">
                                    <button type="submit" class="mat-button-gradient" *ngIf="isCreate==0"
                                        mat-button>Save Consultant</button>
                                    <button type="submit" class="mat-button-gradient" *ngIf="isCreate==1"
                                        mat-button>Update Consultant</button>
                                </div>
                            </div>
                        </form>
                    </mat-card-content>
                </mat-card>
                <!-- </div> -->
            </mat-tab>

        </mat-tab-group>
    </mat-card>
</section>

<!-- Delete Company Dialog -->
<ng-template #deleteDialog>

    <mat-dialog-content>
        <div class="card-body" style="align-content: center;">
            <i class="material-icons" style="font-size: 80px; color: #FFBF00; margin-left: 30%;">
                error_outline
            </i>
            <h5 class="card-title" style="text-align: center;"><strong>Are You Sure?</strong></h5>
            <h6 class="card-title" style="text-align: center;">You won't able to revert this!</h6>
        </div>
    </mat-dialog-content>
    <mat-dialog-actions align="end" style="margin-bottom: 0.5%;">
        <button mat-button matDialogClose color="primary" (click)="deleteConsultant()">Yes, delete it!</button>
        <button mat-button matDialogClose color="primary">Cancel</button>
    </mat-dialog-actions>
</ng-template>


<!-- View Company Dialog -->
<ng-template #viewDialog>

    <mat-dialog-content>
        <mat-card>
            <!-- Header -->
            <mat-card-header>
                <mat-card-title>Consultant Details View</mat-card-title>
            </mat-card-header>
            <mat-divider></mat-divider>
            <div class="col-md-12 row fs-14-5">
                <div class="col-md-3 ">
                    bpCode : {{updateRow.bpCode}}
                </div>
                <div class="col-md-3 ">
                    Company Code : {{updateRow.cmpCode}}
                </div>
                <div class="col-md-3">
                    Plant Code : {{updateRow.plantCode}}
                </div>
                <!-- <div class="col-md-3">
                    ACT GroupCode : {{updateRow.actGroupCode}}
                </div> -->
                <div class="col-md-3   ">
                    Consultant Name : {{updateRow.bpFName}}
                </div>
                <div class="col-md-3   ">
                    Short Key :{{updateRow.shortKey}}
                </div>
                <div class="col-md-3   ">
                    PAN : {{updateRow.pan}}
                </div>
                <div class="col-md-3   ">
                    GST No : {{updateRow.gstNumber}}
                </div>
                <div class="col-md-3   ">
                    Address Line 1 :{{updateRow.addressLine1}}
                </div>
                <div class="col-md-3   ">
                    Address Line 2 : {{updateRow.addressLine2}}
                </div>
                <div class="col-md-3   ">
                    Street : {{updateRow.street}}
                </div>
                <div class="col-md-3   ">
                    City : {{updateRow.city}}
                </div>
                <div class="col-md-3   ">
                    State Code : {{updateRow.stateCode}}
                </div>
                <div class="col-md-3   ">
                    Country Code : {{updateRow.countryCode}}
                </div>
                <div class="col-md-3   ">
                    Postal Code : {{updateRow.postalCode}}
                </div>
                <div class="col-md-3   ">
                    Phone : {{updateRow.phone}}
                </div>
                <div class="col-md-3   ">
                    Email : {{updateRow.email}}
                </div>
            </div>
        </mat-card>
    </mat-dialog-content>

</ng-template>