<!-- <section>
    <mat-card>
        <mat-card-content>

           <div class="row">
                <div class="col-md-6">
                    <button type="button" mat-button (click)="addStudDetArr()">Add student</button>
                </div>
            </div>

         
            <mat-accordion>
                <div formArrayName="students">
                    <div *ngFor="let element of studsArray['controls'];let n= index">
                        <div [formGroupName]="n" class="mb-3">
                            <mat-expansion-panel>
                                <mat-expansion-panel-header>
                                    <mat-panel-title class="row">
                                        <div class="col-md-11">
                                            Address wise Student Details 
                                        </div>
                                        <div class="col-md-1">
                                            <mat-icon *ngIf="n!=0 || studsArray['controls'].length>1" class="mat-icon-delete" (click)="deleteArr(n)">delete_outline</mat-icon>
                                        </div>
                                    </mat-panel-title>
                                </mat-expansion-panel-header>
                                <mat-divider></mat-divider>
                                <div class="row">

                                    <mat-form-field class="col-md-4 ">
                                        <input type="text" matInput placeholder="First Name"
                                            formControlName="studFName" />
                                        <!-- <mat-error *ngIf="myErrorArray('studFName', 'required',n)">Student's First Name
                                        is required</mat-error> -->
                                    ?
<!-- 
                                    <mat-form-field class="col-md-4 ">
                                        <input type="text" matInput placeholder="Last Name" formControlName="studLName" />
                                        <!-- <mat-error *ngIf="myErrorArray('studLName', 'required',n)">Student's Last Name
                                        is required</mat-error> -->
                                    <!-- </mat-form-field> --> -->
                        
                                    <!-- <mat-form-field class="col-md-4 ">
                                        <input type="text" matInput placeholder="Phone Number"
                                        formControlName="studPhone" /> --> 
                                        <!-- <mat-error *ngIf="myErrorArray('studPhone', 'required',n)">Student's Phone Number
                                        is required</mat-error>
                                        <mat-error *ngIf="myErrorArray('studPhone', 'pattern',n)">Please
                                        provide a valid Phone Number</mat-error> -->
                                    <!-- </mat-form-field> -->

                                    <!-- <ng-select class="col-md-4 form-group" formControlName="studAdd" 
                                    (change)="getState($event);" placeholder="Address">
                                        <ng-option *ngFor="let item of Address" [value]="item.studAdd">
                                            {{item.studAdd}}
                                        </ng-option>
                                    </ng-select> -->

                                    <!-- <mat-form-field class="col-md-4 ">
                                        <input type="text" matInput placeholder="Email ID" formControlName="studEmail" /> 
                                        <!-- <mat-error *ngIf="myErrorArray('studEmail', 'required',n)">Student's Email ID is required</mat-error>
                                        <mat-error *ngIf="myErrorArray('studEmail', 'pattern',n)">Please
                                        provide a valid Email</mat-error> -->
                                    <!-- </mat-form-field>
                                </div>
                            </mat-expansion-panel>
                        </div>
                    </div>
                </div>
            </mat-accordion> 
        
        </mat-card-content>
    </mat-card>
</section> -->

 
