<div class="example-container" style="height: 100vh;">
  

  <mat-sidenav-container class="all-wrap" >
    
      <mat-sidenav mode="side" #sidenav [opened]="screenWidth! > 640" position="start" style="margin-top: 0px; ">
          <div class="profile-card mt-3 mb-3" >
              <div class="header">
                  <img class="img-login-logo" src="../../../../assets/img/primuslg.png" alt="Logo">
              </div>
          </div>

          <mat-divider></mat-divider>
          <div class="mt-3" style="font-size:15px;">
              <mat-nav-list *ngFor="let items of menus">
                  <a [routerLink]="[items.href]" routerLinkActive="active-list-item" mat-list-item class="ml-2"
                      style="font-size:15px; font-weight: bold; color: #6a241e;"><i class="material-icons"
                          style="color: #6a241e;">{{items.icons}}</i> &nbsp;&nbsp;{{items.name}}</a>
               </mat-nav-list>


              <mat-nav-list>
                <a routerLinkActive="active-list-item" (click)="logout()" mat-list-item class="ml-2"
                style="font-size:15px; font-weight: bold; color: #6a241e"><i class="material-icons"
                    style="color: #6a241e">logout</i> &nbsp;&nbsp;Logout</a>
              </mat-nav-list>
          </div>
          <mat-divider></mat-divider>
      </mat-sidenav>

      <mat-sidenav-content class="page-wrap">
        <!-- width: 1310px;margin-left:230px; margin-top: -0.9%;-->
        <mat-toolbar  style="flex: 0 0 128px; background-color: white; color: #6a241e;">
            <!-- <span style="flex: 1 1 auto;"></span> -->
            <div>
                <!-- <label>{{componentname}}</label> -->
                <button mat-icon-button matTooltip="Full Screen" toggleFullscreen mat-button (click)="toggleFullscreen()">
                    <mat-icon>{{hide ? 'crop_free' : 'fullscreen_exit'}}</mat-icon>
                </button>
                <button mat-icon-button (click)="sidenav.toggle()">
                    <mat-icon>menu</mat-icon>
                </button>
            </div>
            <div>
              

            </div>
        </mat-toolbar>
          <div class="container">
           
              <router-outlet></router-outlet>
          </div>
      </mat-sidenav-content>
  </mat-sidenav-container>
</div>