<section>
    <mat-card>
        <mat-card-header>
            <mat-card-title>Data Master</mat-card-title>
        </mat-card-header>
        <mat-divider></mat-divider>
        <form [formGroup]="projdesForm" (ngSubmit)="addprojdes()">
            
            <div class="row">
                <mat-form-field class="form-group col-md-2">
                    <mat-label>Project ID</mat-label>
                    <input type="text" matInput placeholder="Project ID" formControlName="projID">
                    <mat-error> Project ID is required</mat-error>
                </mat-form-field>

                <mat-form-field class="form-group col-md-3">
                    <mat-label>Project Description</mat-label>
                    <mat-select type="text" matInput formControlName="projdesc"
                        placeholder="Project Description">
                        <!-- <mat-option value="pune">Pune</mat-option> -->
                    </mat-select>
                </mat-form-field>


                <mat-form-field class="form-group col-md-3">
                    <mat-label>Client ID</mat-label>
                    <input type="text" matInput placeholder="Client ID" formControlName="projcliID">
                </mat-form-field>

                <mat-form-field class="form-group col-md-3">
                    <mat-label>Client Name</mat-label>
                    <mat-select type="text" matInput formControlName="projcliname"
                        placeholder="Client Name">
                        <!-- <mat-option value="pune">Pune</mat-option> -->
                    </mat-select>
                </mat-form-field>

            </div>

            <div class="row">
                <mat-form-field class="form-group col-md-2" >
                    <mat-label>Project Manager ID</mat-label>
                    <input type="text" matInput placeholder="Company Code" formControlName="projMngID">
                </mat-form-field>

                <mat-form-field class="form-group col-md-3" style="margin-left:5px;margin-right:5px;">
                    <mat-label>Project Manager Name</mat-label>
                    <mat-select type="text" matInput formControlName="projMngname"
                        placeholder="Project Manager name">
                        <!-- <mat-option value="pune">Pune</mat-option> -->
                    </mat-select>
                </mat-form-field>

                <mat-form-field class="col-md-3 form-group" appearance="fill">
                    <mat-label>Start Date</mat-label>
                    <input formControlName="projStartDate" matInput [matDatepicker]="picker">
                    <mat-hint>MM/DD/YYYY</mat-hint>
                    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>
                <mat-form-field class="col-md-3 form-group" appearance="fill" style="margin-left:5px;">
                    <mat-label>End Date</mat-label>
                    <input formControlName="projEndDate" matInput [matDatepicker]="picker">
                    <mat-hint>MM/DD/YYYY</mat-hint>
                    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>

            </div>
            <div class="row" >
                <mat-form-field class="form-group col-md-2">
                    <mat-label>Employee ID</mat-label>
                    <input type="text" matInput placeholder="Employee Id" formControlName="projempID">
                </mat-form-field>
                <mat-form-field class="form-group col-md-3">
                    <mat-label>Employee Name</mat-label>
                    <mat-select type="text" matInput formControlName="projempname"
                        placeholder="Employee Name">
                        <!-- <mat-option value="pune">Pune</mat-option> -->
                    </mat-select>
                </mat-form-field>
                <mat-form-field class="form-group col-md-3">
                    <mat-label>Department</mat-label>
                    <input type="text" matInput placeholder="Department Name"
                        formControlName="projdeptname">
                </mat-form-field>
            </div>

            <div class="row mt-3">
                <div class="col-md-6">
                    <button type="submit" class="mat-button-gradient" mat-button>Save Data Master</button>
                </div>
            </div>
        </form>
    </mat-card>
</section>