/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/indigo-pink.css';
@import "~@ng-select/ng-select/themes/material.theme.css";
@import 'src/styles/font-styles.scss';
@import 'src/styles/buttons.scss';
@import 'src/styles/labels.scss';
@import 'src/styles/mat-card.scss';
@import 'src/styles/mat-table.scss';
@import 'src/styles/forms.scss';
@import 'src/styles/images.scss';
@import 'src/styles/media-query-layout.scss';
@import 'src/styles/mat-tab.scss';


.spinner {
  padding: 15px;
  position: relative;
  margin-top: 18% !important;
  margin-left: 64% !important;
  font-size: 15px;
  -ms-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}



.tabsettings{
font-weight: 450; 
font-size: 12px; 
height: 30px; 
// color: tomato;
color: #6a241e;
}
.tabsettings:hover{  
  // color: tomato;
  color: #6a241e;
}

.mat-form-field{
  font-size: 15px;
}
.ng-select {
  font-size: 15px;
}



mat-error{
  font-size: 13px;
  margin-top: 1%;  
 }


 
 
 .mat-form-field.mat-form-field-should-float .mat-form-field-infix{
     position: initial;
 }
 .mat-form-field.mat-form-field-should-float .mat-form-field-label-wrapper{
     top: 0;
     left: 15px;
 }

 .mat-form-field
 {
  width: 100%;
  padding-right:5%;
  padding-left: 5%;
 }
 
 
 
 .mat-checkbox-ripple .mat-ripple-element {
   background-image: linear-gradient(to right, #e25618 , #e49326) !important;
 }
 
.mat-checkbox-checked.mat-accent .mat-checkbox-background {
  background-image: linear-gradient(to right, #e25618 , #e49326) !important;
 }
 
.mat-checkbox-indeterminate.mat-accent .mat-checkbox-background {
  background-image: linear-gradient(to right, #e25618 , #e49326) !important;
 }
 a{
  color:#6a241e !important ;
  // background: linear-gradient(to right, #e25618 0%, #e49326 100%);
  // -webkit-background-clip: text;
  // -webkit-text-fill-color: transparent;
     cursor: pointer;
 }




 // Common SCSS
 .float-right{
float: right;
 }